<div class="row">
  <div class="col-md-10">
    <h1>Political Parties</h1>
    <h5>GEOGRAPHICAL AREA: <span style="color:#95A5A6"><%= @region_name.titleize %></span></h5>
  </div>
  <div class="col-md-2">
    <%= link_to '+ New Political party', new_region_political_party_path(:region_id => params[:region_id]), :class => "btn btn-md btn-success", :style => "margin-top:35px;" %>
  </div>
</div>

<hr/>

<br/>

<table class="listing table table-striped">
  <thead>
    <tr class="header">
      <th>Name</th>
      <th>Leaning index</th>
      <th>Image link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @political_parties.each do |political_party| %>
      <tr>
        <td><%= political_party.name %></td>
        <td><%= political_party.leaning_index %></td>
        <td><%= political_party.image %></td>

        <td>
          <%= link_to 'Show', [political_party.region, political_party], :class => "btn btn-sm btn-info" %> &nbsp;
          <%= link_to 'Edit', edit_region_political_party_path(political_party.region, political_party), :class => "btn btn-sm btn-success" %> &nbsp;
          <%= link_to 'Destroy', [political_party.region, political_party] , method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<hr/>

<%= link_to '< Back', root_path, class: "btn btn-primary btn-md" %>


