<h1>New User</h1>

<%= form_for @user, url: users_admin_index_path(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, :class => "form-control" %>
  </div>

  <br/>

   <div class="form-group">
    <%= f.label :image %><br />
    <%= f.text_field :image, :class => "form-control" %>
  </div>


  <br/>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, :class => "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :current_residence %><br />
    <%= f.text_field :current_residence, :class => "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :bank_name %><br />
    <%= f.text_field :bank_name, :class => "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :account_no %><br />
    <%= f.text_field :account_no, :class => "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.label :sort_code %><br />
    <%= f.text_field :sort_code, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :role %><br />
  <%= f.collection_select :role, UserRole.order(:id), :id, :role, {include_blank: true}, {class: "form-control"} %>
  </div>

  <br/>


<br/>
  <div class="form-group">
    <%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>
<br/>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>
<br/>

  <div class="form-group">
    <%= f.label :no_of_landlord_properties %>(if Landlord)<br>
    <%= f.number_field :landlord_properties, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :no_of_agent_properties %>(if Agent)<br>
    <%= f.number_field :agent_properties, :class => "form-control"  %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Create User", :class => "btn btn-success btn-lg btn-block"  %>
  </div>

  <br/>

<% end %>

<br/>

<hr/>

<%= link_to '< Back', users_path, :class => "btn btn-primary btn-md" %>
