<h1><span class="glyphicon glyphicon-info-sign"></span> User info</h1>

<hr/>

<br/>

<div class="table-div">
  <table class="listing table table-striped">
    <thead>
      <tr class="header">
        <th>Column</th>
        <th>Details</th>
        <th></th>
      </tr>
    </thead>
    <tr>
      <td><b>ID</b></td>
      <td><%= @user.id %><td>
    </tr>

    <tr>
      <td><b>Full name</b></td>
      <td><%= @user.full_name %><td>
    </tr>

    <tr>
      <td><b>Email</b></td>
      <td><%= @user.email %><td>
    </tr>

    <tr>
      <td><b>Role</b></td>
      <td>
        <%= @user.role.name %>
      <td>
    </tr>

    <tr>
      <td><b>Supervisor</b></td>
      <td>
        <% if @user.supervisor != "" && !@user.supervisor.nil? && !@user.supervisor.blank? %>
          <% supervisor = User.find(@user.supervisor.to_i)%>
          <%= supervisor.full_name %>
        <% else %>
          -
        <% end %>
      <td>
    </tr>

    <tr>
      <td><b>Status</b></td>
      <td>
        <% if @user.status == true %>
          Active
        <% else %>
          Banned
        <% end %>
      <td>
    </tr>

    
  </table>
</div>  


<br/>

<hr/>

<%= link_to '< Back', users_path, :class => "btn btn-md btn-primary" %>

<% if @has_access == 1 || current_user.role_id == 1  %>
  &nbsp; <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-success btn-md" %>
<% else %>
  &nbsp; <%= link_to "Edit", "#", class: "btn btn-default disabled btn-md", style: "background-color:#F9F9F9;color:#ccc;" %>
<% end %>


<% if @user.status == true %>
  <% if current_user.role_id == 1 || current_user.role_id == 4 %>
      <% if @user.supervisor == current_user.id %>
        &nbsp; <%= link_to 'BAN this user', users_ban_path(@user), :class => "btn btn-danger btn-md", data: { confirm: 'Are you sure?' } %>  
      <% else %>
        &nbsp; <%= link_to "BAN this user", "#", class: "btn btn-default disabled btn-md", style: "background-color:#F9F9F9;color:#ccc;" %> 
      <% end %>  
  <% end %>    

<% else %>
  &nbsp; <%= link_to 'UnBAN', users_unban_path(@user), :class => "btn btn-success btn-md" %>
<% end %>