<h1><span class="glyphicon glyphicon-home"></span> HOME</h1>

<hr/>

<br/>

<div class="table-div">
	<table class="listing table table-striped">
	<thead>
      <tr class="header">
   	  	<th></th>
   	  	<th>Name</th>
   	  	<th>Last updated</th>
   	  	<th>Scraped?</th>
   	  	<th></th>
   	  </tr>
    </thead>  

    <% i = 1; %>
	<% @countries.each do |country| %>
      <tr>
      	<td><b><%= "#{i}" %></b></td>
        <td><%= link_to "#{country.name}", country %></td>
        <td><%= country.updated_at.strftime("%d/%m/%Y at %H:%M") %></td>
        <td><%= country.scraped %></td>
        <td>
        	<%= link_to "View", show_path(:region => country.region), :class => "btn btn-sm btn-info" %> 
        	<%= link_to "Scrape New Data", scrape_path(:region => country.region), :class => "btn btn-sm btn-success" %> 
          <!--
        	<%= link_to "Download", download_path, :region => country.region, :class => "btn btn-sm btn-primary" %>  
          --> 
        </td>
      </tr>
      <% i += 1 %>
    <% end %>
    
    </table>
</div>    

<br/>