<h1><span class="glyphicon glyphicon-home"></span> HOME</h1>

<hr/>

<br/>

<div class="table-div">
	<table class="listing table table-striped">
	<thead>
      <tr class="header">
   	  	<th></th>
   	  	<th>Name</th>
   	  	<th>Last updated</th>
   	  	<th>Scraped?</th>
   	  	<th></th>
   	  </tr>
    </thead>  

    <% i = 1; %>
	<% @countries.each do |country| %>
      <tr>
      	<td><b><%= "#{i}" %></b></td>
        <td><%= link_to "#{country.name}", show_path(:region => country.region) %></td>
        <td><%= country.updated_at.strftime("%d %B %Y - %H:%M") %></td>
        <td style="font-size:16px;">
          <% if (country.scraped == true) %>
            <span class="glyphicon glyphicon-ok" style="margin:0 20px 0 20px;color:#5CB85C;"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" style="margin:0 20px 0 20px;color:#D9534F;"></span>
          <% end %>  
        </td>
        <td>
        	<%= link_to "View", show_path(:region => country.region), :class => "btn btn-sm btn-info" %> 
        	<%= link_to "Scrape New Data", scrape_path(:region => country.region), :class => "btn btn-sm btn-success" %> 
          
          <br/><br/>

          <%= form_tag({controller: "process", action: "download_csv"}, method: "post") do |f| %>
              <%= hidden_field_tag :region_name, country.name %>
              <%= submit_tag "Download CSV", :class => "btn btn-sm btn-warning" %>
          <% end %> 
           
        </td>
      </tr>
      <% i += 1 %>
    <% end %>
    
    </table>
</div>    

<br/>