<h1>EDIT DATA</h1>
<div>

	<h3>Country: <%= @region_name %></h3>

	<div class="row">
		<div class="col-md-12">
			<table class="listing table table-striped">
			<thead>
		      <tr class="header">
		   	  	<th></th>
		   	  	<th>Name</th>
		   	  	<th>Country</th>
		   	  	<th></th>
		   	  </tr>
		    </thead>  

		    <% i = 1; %>
			<% @datum.each do |data| %>
		      <tr>
		      	<td><%= "#{i}" %></td>

		        <td><%= link_to "#{data.name}", data %></td>
		        <td><%= link_to "#{@region_name}", data %></td>
		      	<td>
		      		<%= link_to "View", data %> |
		      		<%= link_to "Edit", edit_datum_path(data) %> 
		      	</td>
		      </tr>
		      <% i += 1 %>
		    <% end %>
		    
		    </table>
		</div>    
	</div>	

</div>
