<% if !params[:alliance_id].empty? %>

	<% 
		if Region.exists?(params[:alliance_id])
			alliance = Region.find(params[:alliance_id])
			nations = Region.order(:iso3166_2).where("length(iso3166_2) = ?", 5).where('iso3166_2 LIKE ?', '%'+alliance.iso3166_2+'%')
	%>

		<h1 class="breadcrumb">
			<%= link_to '<span class="glyphicon glyphicon-globe"></span>'.html_safe, root_path %>
			<span class="glyphicon glyphicon-chevron-right"></span>  
			<span style="color:#95A5A6"><%= alliance.name %></span>
		 </h1>

		<hr/>

		<br/>

		<h3>Add new nation </h3>

		<br/>

		<div class="row">
		<!-- FORM starts -->
			<div>
				<%= form_for(@region) do |f| %>
				  <% if @region.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

				      <ul>
				      <% @region.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				  	<div class="col-md-4">
				  	  <div class="form-group">
					    <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
					  </div>
				  	</div>
				  	<div class="col-md-4">
					  <div class="form-group">
					    <%= f.text_field :iso3166_2, :class => "form-control", :placeholder => "2 letter code (eg. NA)" %>
					  </div>
				  	</div>
				  	<div class="col-md-4">
					  <div class="actions">
					    <%= f.hidden_field :parent_code, :value => alliance.iso3166_2 %>
					    <%= f.submit "Add", :class => "btn btn-success btn-md btn-block" %>
					  </div>
				  	</div> 		  
				<% end %>
			</div>
		</div>
		<!-- FORM stops -->

		<br/>

		<% nations.each do |nation| %>
			<li>
	            <h3>
	              <%= link_to "#{ nation.name.titleize }", page_nation_path(:alliance_id => alliance.id, :nation_id => nation.id) %> &nbsp;
	              <%= link_to "Politicians", page_politicians_path(:region_id => nation.id), :class => "btn btn-sm btn-info" %> 
	              <%= link_to "Parties", region_political_parties_path(:region_id => nation.id), :class => "btn btn-sm btn-primary" %>
	            </h3> 
	        </li>  
		<% end %> 

		<br/>

	<% else %>
	  	<h1>Data Not Found!</h1>
	<%	end	%>	
	
<% else %>

 <h1>Data Not Found!</h1>

<% end %>