
<div class="row">
  <div class="col-md-7">
    <h1><span class="glyphicon glyphicon-user"></span> POLITICIANS</h1>
    <h5 class="breadcrumb">
      <b>GEOGRAPHICAL AREA: </b>
      <% if params[:alliance_id] && !params[:alliance_id].empty? %>
        <% if params[:alliance_id] == params[:region_id] %>
          <span style="color:#95A5A6"><%= @region_name.titleize %></span>
        <% else %>
          <%= link_to "#{get_region_name(params[:alliance_id])}", page_alliance_path(:alliance_id => params[:alliance_id]) %>
        <% end %>      
      <% end %>

      <% if params[:nation_id] && !params[:nation_id].empty? %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <% if params[:nation_id] == params[:region_id] %>
          <span style="color:#95A5A6"><%= @region_name.titleize %></span>
        <% else %> 
          <%= link_to "#{get_region_name(params[:nation_id])}", page_nation_path(:alliance_id => params[:alliance_id], :nation_id => params[:nation_id] ) %> 
        <% end %>    
      <% end %>

      <% if params[:state_id] && !params[:state_id].empty? %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <% if params[:state_id] == params[:region_id] %>
          <span style="color:#95A5A6"><%= @region_name.titleize %></span>
        <% else %>
          <%= link_to "#{get_region_name(params[:state_id])}", page_state_path(:alliance_id => params[:alliance_id], :nation_id => params[:nation_id], :state_id => params[:state_id])  %>  
        <% end %>     
      <% end %>

      <% if params[:county_id] && !params[:county_id].empty? %>
        <span class="glyphicon glyphicon-chevron-right"></span>  
        <% if params[:county_id] == params[:region_id] %>
          <span style="color:#95A5A6"><%= @region_name.titleize %></span>
        <% else %>
          <%= link_to "#{get_region_name(params[:county_id])}", page_county_path(:alliance_id => params[:alliance_id], :nation_id => params[:nation_id], :state_id => params[:state_id], :county_id => params[:county_id] ) %>          
        <% end %>      
      <% end %>

      <% if params[:city_id] && !params[:city_id].empty? %>
        <span class="glyphicon glyphicon-chevron-right"></span> 
        <% if params[:city_id] == params[:region_id] %>
          <span style="color:#95A5A6"><%= @region_name.titleize %></span> 
        <% else %>
          <%= link_to "#{get_region_name(params[:city_id])}", page_city_path(:alliance_id => params[:alliance_id], :nation_id => params[:nation_id], :state_id => params[:state_id], :county_id => params[:county_id], :city_id => params[:city_id])  %>
        <% end %>       
      <% end %>
    </h5>
  </div>
  <div class="col-md-5">
    <div style="margin:35px 0 0 0;text-align:right;">
      <table style="width:100%">
        <tr>
          <td>        
            <% if @has_access == 1 || current_user.role_id == 1  %>
              <%= link_to "+ Add new politician", new_datum_path(:region_id => params[:region_id]), class: "btn btn-info btn-sm" %>&nbsp;
            <% elsif current_user.role_id == 3  %>
              <%= link_to "+ Add new politician", new_datum_path(:region_id => params[:region_id]), class: "btn btn-default disabled btn-sm", style: "background-color:#F9F9F9;color:#ccc;" %>&nbsp;
            <% else %>
            <% end %>
          </td>
          <% if current_user.role_id == 1 %>
            <td>
              <%= link_to "Soft Scrape", scrape_path(:region_id => params[:region_id]), class: "btn btn-primary btn-sm" %>&nbsp;
            </td>
            <td>
              <%= link_to "Heavy Scrape", scrape_path(:region_id => params[:region_id]), class: "btn btn-danger btn-sm" %>&nbsp;
            </td>
          <% end %>
          <td>
            <%= form_tag({controller: "process", action: "download_csv"}, method: "post") do |f| %>
              <%= hidden_field_tag :region_id, params[:region_id] %>
              <%= submit_tag "Download CSV", :class => "btn btn-sm btn-success" %>
            <% end %> 
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<hr/>

<br/>

<div class="table-div">
	<table class="listing table table-striped">
	<thead>
      <tr class="header">
   	  	<th></th>
   	  	<th>Name</th>
   	  	<th>Country</th>
        <th>Political Party</th>
   	  	<th></th>
   	  </tr>
    </thead>  

    <% i = 1; %>
	<% @datum.each do |data| %>
      <tr>
      	<td><b><%= "#{i}" %></b></td>

        <td><%= link_to "#{data.name}", data %></td>
        <td><%= @region_name.titleize %></td>
        <td><%= data.politicalParty %></td>
      	<td>
      		<%= link_to "View details", data, class: "btn btn-info btn-sm" %> &nbsp;
          <%
            region_id = data.region_id

            @has_access = 0
            geoPermission = 0
            partyPermission = 0

            permission = Permission.where(:user_id => current_user.id)
            permission.each do |p|

              # GEO AREAS PERMISSION
              regions =  eval(p.permission)
              regions.each do |region|
                if current_user.role_id == 2 || current_user.role_id == 4 
                  if region == region_id.to_s  
                    geoPermission = 1
                  end  
                end
              end

              political_party_id = 0
              political_party_name = ""
              political_party = PoliticalParty.where("lower(name) LIKE ?",  '%'+data.politicalParty.downcase+'%')
              political_party.each do |pp|
                 political_party_id = pp.id  
                 political_party_name = pp.name            
              end              
              
              # PARTY PERMISSION
              party_permissions =  eval(p.party_permission)
              party_permissions.each do |party_permission|
                if current_user.role_id == 2 || current_user.role_id == 4
                  puts "#{party_permission} | #{political_party_id} | #{political_party_name}"  
                  if party_permission.to_i == political_party_id.to_i
                    partyPermission = 1
                  end  
                end
              end  

            end
          %>

          <% if (geoPermission == 1 && partyPermission == 1) || current_user.role_id == 1  %>
            <%= link_to "Edit", edit_datum_path(data, :region_id => region_id), class: "btn btn-success btn-sm" %> <%= @region_id %>
          <% elsif current_user.role_id == 3  %>
            <%= link_to "Edit", "#", class: "btn btn-default disabled btn-sm", style: "background-color:#F9F9F9;color:#ccc;" %>
          <% else %>
            <%= link_to "Edit", "#", class: "btn btn-default disabled btn-sm", style: "background-color:#F9F9F9;color:#ccc;" %>
          <% end %>
      	</td>
      </tr>
      <% i += 1 %>
    <% end %>
    
    </table>
</div>   

<br/>

<hr/>

<%= link_to '< Back', url_for(:back), class: "btn btn-primary btn-md" %>

<br/>
