<style>
  #region-checkboxes li{
    list-style-type: none;
  }
</style>
<script>
$(function(){

    $("#checkAll").change(function () {
       $("input:checkbox").prop('checked', $(this).prop("checked"));
    });

    $(".accordion > li > div").click(function(){
      $(".accordion > li").toggleClass("display")
      if(false == $(this).next().is(':visible')) {
          $('.accordion ul').slideUp(300);
      }
      $(this).next().slideToggle(300);
    });
     

    //clicking the parent checkbox should check or uncheck all child checkboxes
    $(".parentCheckBox").on('click', function() {
        $(this).closest('ul').find('.childCheckBox').prop('checked', this.checked);
    }); 
    
});    
</script>    

<%= form_for @permission, :url => {:action => "update2"} do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>
  <tr>
    <td>
      <h4>User</h4>
      <hr/>
      <%= f.collection_select :user_id, User.order(:id), :id, :full_name, {include_blank: true}, {class: "form-control"} %>
      <br/><br/>
    </td>
  </tr>

  <tr>
    <td>
      <h4>Current Permission</h4>
      <hr/>
      <% if @permission.party_permission != "" && !@permission.party_permission.blank? %>
        <% 
          parties = eval(@permission.party_permission)
          parties.each do |party|
            party = PoliticalParty.find(party)
            party_name = party.name 
        %>   
            <div class="tag-cloud tag-cloud-party"><%= party_name %></div>
          <% end %>
      <% end %>  
      <br/>    
    </td>    
  </tr>

  <tr>
    <td>
      <br/>
      <h4>Political Parties</h4>
      <hr/>
      <ul class="accordion">
          <% 
              permissions = eval(@permission.permission)
              permissions.each do |p|
                region = Region.find(p)
                region_id = region.id
          %>   
            <li><div><input type="checkbox" class="parentCheckBox" /><a href="#"><%= region.name.titleize %></a></div>
              <ul>       
          <%
                political_parties = PoliticalParty.where(:region_id => region_id) 
                political_parties.each do |pp| 
          %>    
              <li>
                <%
                  match = 0
                  user_permissions = Permission.where(:user_id => @permission.user_id)
                  user_permissions.each do |user_permission|
                    if  !user_permission.party_permission.blank?
                      party_permissions = eval(user_permission.party_permission)
                      party_permissions.each do |party_permission|
                        match = 1
                      end  
                    end
                  end  
                %>
                
                <input type="checkbox" name="party_permission[]" value="<%= pp.id %>" class="childCheckBox"
                  <% if match == 1 %>
                      checked="checked"    
                  <% end %> 
                >
                <%= pp.name %>
              </li>
          <% end %>
              </ul>
            </li>
        <% end %>  
      </ul>
      <br/>
    </td>  
  </tr> 
</table>

  <div class="actions">
      <%= f.submit "Update permission", :class => "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
