<style>
  #region-checkboxes li{
    list-style-type: none;
  }
</style>
<script>
$(function(){


  $(".accordion > li > div").click(function(){
    $(".accordion > li").toggleClass("display")
    if(false == $(this).next().is(':visible')) {
        $('.accordion ul').slideUp(300);
    }
    $(this).next().slideToggle(300);
  });
   

  //clicking the parent checkbox should check or uncheck all child checkboxes
  $(".parentCheckBox").on('click', function() {
      $(this).closest('ul').find('.childCheckBox').prop('checked', this.checked);
  }); 

});
</script>

<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h4>User</h4><br/>
      <%= f.collection_select :user_id, User.order(:id), :id, :full_name, {include_blank: true}, {class: "form-control"} %>
  </div>

  <br/>

  <% if !@permission.new_record? %>
    <div class="form-group">
      <h4>Current Permission</h4>
      <%      
        permissions = eval(@permission.permission)
        permissions.each do |p|
          region = Region.find(p)
      %>
        <div class="tag-cloud"><%= region.name.titleize %></div>
      <% end %>

    </div>
  <% end %>

  <br/><br/><br/><br/>

  <div class="form-group">
  <br/><br/><br/><br/><br/>
    <h4> Change Permission</h4>
    <p><i>&nbsp;&nbsp;&nbsp; Change Geo Areas that this user are allowed to edit</i></p>
    
    <hr/>

    <!--
    <div class="row">
      <div class="col-md-6">
        <table class="region-table">
          <tr>
            <td></td>
            <td class="region-label">Alliance:</td>
            <td>
              <% @alliances = Region.order(:iso3166_2).where("length(iso3166_2) = 2") %>
              <%= select_tag "region_code_alliance", options_from_collection_for_select(@alliances, :iso3166_2, :iso_and_name2), { include_blank: true, class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">Nation:</td>
            <td>
              <% @nations = Region.order(:iso3166_2).where("length(iso3166_2) = 5") %>
              <%= select_tag "region_code_nation", options_from_collection_for_select(@nations, :iso3166_2, :iso_and_name2), { include_blank: true, class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">State:</td>
            <td>
              <% @states = Region.order(:iso3166_2).where("length(iso3166_2) = 8") %>
              <%= select_tag "region_code_state", options_from_collection_for_select(@states, :iso3166_2, :iso_and_name2), { include_blank: true, class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">County:</td>
            <td>
              <% @counties = Region.order(:iso3166_2).where("length(iso3166_2) = 11") %>
              <%= select_tag "region_code_county", options_from_collection_for_select(@counties, :iso3166_2, :iso_and_name2), { include_blank: true, class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">City:</td>
            <td>
              <% @cities = Region.order(:iso3166_2).where("length(iso3166_2) = 14") %>
              <%= select_tag "region_code_city", options_from_collection_for_select(@cities, :iso3166_2, :iso_and_name2), { include_blank: true, class: "form-control"} %>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <br/>
        
        <input type="checkbox" id="checkAll" class="checkAll" /> <b>Check All</b>
        
        <br/><br/>
        
        <ul id="region-checkboxes">
        </ul>


      </div>
    </div>
    -->

  </div>

  <br/><br/>

  <div>
    <ul class="accordion">
      <% @alliances.each do |alliance| %>
        <li>
          <div><input type="checkbox" class="parentCheckBox" /><a href="#"><%= alliance.iso_and_name %></a></div>
          <ul class="accordion">
            <% @nations = Region.order(:iso3166_2).where("length(iso3166_2) = 5 AND iso3166_2 like '%#{alliance.iso3166_2}%' ") %>
            <% @nations.each do |nation| %>
              <li>
                <div><input type="checkbox" class="parentCheckBox2 childCheckBox" /><a href="#"><%= nation.iso_and_name %></a></div>
                <ul>
                  <% @states = Region.order(:iso3166_2).where("length(iso3166_2) = 8 AND iso3166_2 like '%#{nation.iso3166_2}%' ") %>
                  <% @states.each do |state| %>
                    <li>
                      <div><input type="checkbox" class="parentCheckBox2 childCheckBox" /><%= state.iso_and_name %>
                      <ul>
                        <% @counties = Region.order(:iso3166_2).where("length(iso3166_2) = 11 AND iso3166_2 like '%#{state.iso3166_2}%' ") %>
                        <% @counties.each do |county| %>
                          <li>
                            <%= county.iso_and_name %>
                            <ul>
                              <% @cities = Region.order(:iso3166_2).where("length(iso3166_2) = 11 AND iso3166_2 like '%#{county.iso3166_2}%' ") %>
                              <% @cities.each do |city| %>
                                <li><%= city.iso_and_name %></li>
                              <% end %>
                            </ul>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>



  <div class="actions">
    <% if @permission.new_record? %>
      <%= f.submit "Add permission", :class => "btn btn-success btn-lg btn-block" %>
    <% else %>
      <%= f.submit "Change permission", :class => "btn btn-success btn-lg btn-block" %>
    <% end %>  
  </div>
<% end %>
