<style>
  #region-checkboxes li{
    list-style-type: none;
  }
</style>
<script>
$(function(){


    $(".accordion-parent1 > li > div").click(function(){

      $(".accordion-sub1").toggleClass("display")
    
      if(false == $(this).next().is(':visible')) {
          $('.accordion-parent1 ul').slideUp(300);
      }
      $(this).next().slideToggle(300);

    });
    
    $(".accordion-parent2 > li > div").click(function(){

      $(".accordion-sub2").toggleClass("display")
    
      if(false == $(this).next().is(':visible')) {
          $('.accordion-parent2 ul').slideUp(300);
      }
      $(this).next().slideToggle(300);
  
    });
    
    $(".accordion-parent3 > li > div").click(function(){

      $(".accordion-sub3").toggleClass("display")
    
      if(false == $(this).next().is(':visible')) {
          $('.accordion-parent3 ul').slideUp(300);
      }
      $(this).next().slideToggle(300);
  
    });
    
    $(".accordion-parent4 > li > div").click(function(){

      $(".accordion-sub4").toggleClass("display")
    
      if(false == $(this).next().is(':visible')) {
          $('.accordion-parent4 ul').slideUp(300);
      }
      $(this).next().slideToggle(300);
  
    });
    
    $(".accordion-parent5 > li > div").click(function(){

      $(".accordion-sub5").toggleClass("display")
    
      if(false == $(this).next().is(':visible')) {
          $('.accordion-parent5 ul').slideUp(300);
      }
      $(this).next().slideToggle(300);
  
    });

         
    $(".parentCheckBox1").on('click', function() {
      $(this).closest('ul > li').find('.childCheckBox1').prop('checked', this.checked);
      $(this).closest('ul > li').find('.childCheckBox2').prop('checked', this.checked);
      $(this).closest('ul > li').find('.childCheckBox3').prop('checked', this.checked);
      $(this).closest('ul > li').find('.childCheckBox4').prop('checked', this.checked);
    }); 
    $(".parentCheckBox2").on('click', function() {
      $(this).closest('ul > li').find('.childCheckBox2').prop('checked', this.checked);
      $(this).closest('ul > li').find('.childCheckBox3').prop('checked', this.checked);
      $(this).closest('ul > li').find('.childCheckBox4').prop('checked', this.checked);
    }); 
    $(".parentCheckBox3").on('click', function() {
      $(this).closest('ul > li').find('.childCheckBox3').prop('checked', this.checked);
      $(this).closest('ul > li').find('.childCheckBox4').prop('checked', this.checked);
    });
    $(".parentCheckBox4").on('click', function() {
      $(this).closest('ul > li').find('.childCheckBox4').prop('checked', this.checked);
    });
    $(".parentCheckBox5").on('click', function() {
      $(this).closest('ul > li').find('.childCheckBox5').prop('checked', this.checked);
    });


});
</script>

<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
    <tr>
      <td style="padding:10px 0 10px 0;">
        <div class="form-group">
          <h4>User</h4>
          <hr/><br/>
          <%= f.collection_select :user_id, User.order(:id), :id, :full_name, {include_blank: true}, {class: "form-control"} %>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding:10px 0 10px 0;">
          <br/><br/>
          <h4> Change Permission</h4>
          <p><i>&nbsp;&nbsp;&nbsp; Change Geo Areas that this user are allowed to edit</i></p>
          <hr/>  

          <% if @permission.new_record? %>
            <div>
              <ul class="accordion accordion-parent1">
                <% @alliances = Region.order(:iso3166_2).where("length(iso3166_2) = 2") %>
                <% @alliances.each do |alliance| %>
                  <li class="accordion-sub1">
                    <div><input type="checkbox" class="parentCheckBox1" value="<%= alliance.id %>" name="region_ids[]" /><a href="#"><%= alliance.iso_and_name %></a></div>
                    <ul class="accordion accordion-parent2">
                      <% @nations = Region.order(:iso3166_2).where("length(iso3166_2) = 5 AND iso3166_2 like '%#{alliance.iso3166_2}%' ") %>
                      <% @nations.each do |nation| %>
                        <li class="accordion-sub2">
                          <div><input type="checkbox" class="childCheckBox1 parentCheckBox2" value="<%= nation.id %>" name="region_ids[]"  /><a href="#"><%= nation.iso_and_name %></a></div>
                          <ul class="accordion accordion-parent3">
                            <% @states = Region.order(:iso3166_2).where("length(iso3166_2) = 8 AND iso3166_2 like '%#{nation.iso3166_2}%' ") %>
                            <% @states.each do |state| %>
                              <li class="accordion-sub3">
                                <div><input type="checkbox" class="childCheckBox2 parentCheckBox3" value="<%= state.id %>" name="region_ids[]"  /><a href="#"><%= state.iso_and_name %></a></div>
                                <ul class="accordion accordion-parent4">
                                  <% @counties = Region.order(:iso3166_2).where("length(iso3166_2) = 11 AND iso3166_2 like '%#{state.iso3166_2}%' ") %>
                                  <% @counties.each do |county| %>
                                    <li class="accordion-sub4">
                                      <input type="checkbox" class="childCheckBox3 parentCheckBox4" value="<%= county.id %>" name="region_ids[]"  /><%= county.iso_and_name %>
                                      <ul class="accordion accordion-parent4">
                                        <% @cities = Region.order(:iso3166_2).where("length(iso3166_2) = 11 AND iso3166_2 like '%#{county.iso3166_2}%' ") %>
                                        <% @cities.each do |city| %>
                                          <li class="accordion-sub5">
                                            <div>
                                              <input type="checkbox" class="childCheckBox4 parentCheckBox5" value="<%= city.id %>" name="region_ids"  />
                                              <a href="#"><%= city.iso_and_name %></a>
                                            </div>
                                          </li>
                                        <% end %>
                                      </ul>
                                    </li>
                                  <% end %>
                                </ul>
                              </li>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <div>
              <ul class="accordion accordion-parent1">
                <% @alliances = Region.order(:iso3166_2).where("length(iso3166_2) = 2") %>
                <% @alliances.each do |alliance| %>
                  <li class="accordion-sub1">
                    <div>  
                      <%      
                        match = 0
                        permissions = eval(@permission.permission)
                        permissions.each do |p|
                          if p.to_i == alliance.id
                            match = 1       
                          end
                        end         
                      %>
                      <input type="checkbox" class="parentCheckBox1" value="<%= alliance.id %>" name="region_ids[]" 
                        <% if match == 1 %>
                            checked="checked"    
                        <% end %> 
                      />  
                      <a href="#"><%= alliance.iso_and_name %></a>
                    </div>
                    <ul class="accordion accordion-parent2">
                      <% @nations = Region.order(:iso3166_2).where("length(iso3166_2) = 5 AND iso3166_2 like '%#{alliance.iso3166_2}%' ") %>
                      <% @nations.each do |nation| %>
                        <li class="accordion-sub2">
                          <div>                            
                            <%      
                              match = 0
                              permissions = eval(@permission.permission)
                              permissions.each do |p|
                                if p.to_i == nation.id
                                  match = 1       
                                end
                              end         
                            %>
                            <input type="checkbox" class="childCheckBox1 parentCheckBox2" value="<%= nation.id %>" name="region_ids[]" 
                              <% if match == 1 %>
                                  checked="checked"    
                              <% end %> 
                            />  

                            <a href="#"><%= nation.iso_and_name %></a>
                          </div>
                          <ul class="accordion accordion-parent3">
                            <% @states = Region.order(:iso3166_2).where("length(iso3166_2) = 8 AND iso3166_2 like '%#{nation.iso3166_2}%' ") %>
                            <% @states.each do |state| %>
                              <li class="accordion-sub3">
                                <div>
                                  <%      
                                    match = 0
                                    permissions = eval(@permission.permission)
                                    permissions.each do |p|
                                      if p.to_i == nation.id
                                        match = 1       
                                      end
                                    end         
                                  %>
                                  <input type="checkbox" class="childCheckBox2 parentCheckBox3" value="<%= state.id %>" name="region_ids[]"  
                                    <% if match == 1 %>
                                        checked="checked"    
                                    <% end %> 
                                  />  

                                  <a href="#"><%= state.iso_and_name %></a></div>
                                <ul class="accordion accordion-parent4">
                                  <% @counties = Region.order(:iso3166_2).where("length(iso3166_2) = 11 AND iso3166_2 like '%#{state.iso3166_2}%' ") %>
                                  <% @counties.each do |county| %>
                                    <li class="accordion-sub4">
                                      <input type="checkbox" class="childCheckBox3 parentCheckBox4" value="<%= county.id %>" name="region_ids[]"  /><%= county.iso_and_name %>
                                      <ul class="accordion accordion-parent4">
                                        <% @cities = Region.order(:iso3166_2).where("length(iso3166_2) = 11 AND iso3166_2 like '%#{county.iso3166_2}%' ") %>
                                        <% @cities.each do |city| %>
                                          <li class="accordion-sub5">
                                            <div>
                                              <%      
                                                match = 0
                                                permissions = eval(@permission.permission)
                                                permissions.each do |p|
                                                  if p.to_i == nation.id
                                                    match = 1       
                                                  end
                                                end         
                                              %>
                                              <input type="checkbox" class="childCheckBox4 parentCheckBox5" value="<%= city.id %>" name="region_ids"  
                                                <% if match == 1 %>
                                                    checked="checked"    
                                                <% end %> 
                                              /> 
                                              <a href="#"><%= city.iso_and_name %></a>
                                            </div>
                                          </li>
                                        <% end %>
                                      </ul>
                                    </li>
                                  <% end %>
                                </ul>
                              </li>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <br/><br/>
      </td>
    </tr>
  </table>



  <div class="actions">
    <% if @permission.new_record? %>
      <%= f.submit "Add permission", :class => "btn btn-success btn-lg btn-block" %>
    <% else %>
      <%= f.submit "Change permission", :class => "btn btn-success btn-lg btn-block" %>
    <% end %>  
  </div>
<% end %>
