<p id="notice"><%= notice %></p>

<h1><span class="glyphicon glyphicon-lock"></span> Permissions To Edit</h1>

<hr/>

<div class="table-div">
  <table class="listing table table-striped">
    <thead>
      <tr class="header">
        <th>ID</th>
        <th>User</th>
        <th>Geo Areas</th>
        <th>Political Parties</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @permissions.each do |permission| %>
        <tr>
          <td width="5%"><%= permission.id %></td>
          <td width="10%"><%= permission.user.full_name %></td>
          <td width="22%">
            <%
              regions = 0
              permissions = eval(permission.permission)
              permissions.each do |p|
                region = Region.find(p)
                regions += 1
            %>
              <div class="tag-cloud"><%= region.name.titleize %></div>
            <% end %>
            <% if regions > 3 %>
              <div style="clear:both;margin:5px;"><%= link_to "more..", "#" %></div>
            <% end %>
          </td>
          <td width="22%">
            <% party_size = 0 %>
            <% 
              permissions.each do |p|
                region = Region.find(p)
                region_id = region.id

                political_parties = PoliticalParty.where(:region_id => region_id).limit(3) 
                political_parties.each do |pp|
                  party_size += 1 
                  if party_size <= 4
            %>     
                    <div class="tag-cloud tag-cloud-party"> <%= pp.name %> </div>
                  <% end %>
                <% end %>
            <% end  %>
            <% if party_size > 4 %>
              <div style="font-size:22px;">...</div>
              <div style="clear:both;margin:5px;"><%= link_to "Edit permission to parties", edit_permission2_path(permission) %></div>
            <% end %>
          </td>
          <td width="21%">
            <%= link_to 'Show', permission %> &nbsp; | &nbsp;
            <%= link_to 'Edit', edit_permission_path(permission) %> &nbsp; | &nbsp;
            <%= link_to 'Delete', permission, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to '+ Add New Permission', new_permission_path, :class => "btn btn-md btn-success" %>
