<h1><span class="glyphicon glyphicon-info-sign"></span> Permission</h1>

<hr/>

<br/>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @permission.user.full_name %>
</p>

<p>
  <strong>Geo Area Permission:</strong>
  <br/>
  <div class="row">
  	<div class="col-md-12">
    <% if @permission.permission != "" && !@permission.permission.blank? %>
  	  <%      
  	    permissions = eval(@permission.permission)
  	    permissions.each do |p|
  	      region = Region.find(p)
  	  %>
        	<div class="tag-cloud"><%= region.name.titleize %></div>  
    	 <% end %>
    <% end %>  
  	</div>  
  </div>	  
</p>

<p>
  <strong>Political Party Permission:</strong>
  <br/>
  <div class="row">
    <div class="col-md-12">
    <% if @permission.party_permission != "" && !@permission.party_permission.blank? %>
    <% 
      parties = eval(@permission.party_permission)
      parties.each do |party|
        party = PoliticalParty.find(party)
        party_name = party.name 
    %>   
        <div class="tag-cloud tag-cloud-party"><%= party_name %></div>
      <% end %>
    <% end %>  
    </div>  
  </div>    
</p>


<br/>

<hr/>

<%= link_to '< Back', permissions_path,  :class => "btn btn-primary btn-sm" %> &nbsp;
<%= link_to 'Edit', edit_permission_path(@permission),  :class => "btn btn-success btn-sm"  %> 

