<%= form_for(@datum) do |f| %>
  <% if @datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% @datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><span class="glyphicon glyphicon-info-sign"></span>PERSONAL INFO </h3><hr/>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :complete_Name %><br>
    <%= f.text_field :completeName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :family %><br>
    <%= f.text_area :family, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_Of_Birth %><br>
    <%= f.text_field :dateOfBirth, :class => "form-control datepicker", :readonly => true  %>
  </div>
  
  <div class="form-group">
    <%= f.label :place_Of_Birth %><br>
    <%= f.text_field :placeOfBirth, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.text_field :picture, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :studies %><br>
    <%= f.text_field :studies, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :university %><br>
    <%= f.text_field :university, :class => "form-control" %>
  </div>

  <div class="form-group">
    <br/>
    <%= f.label :school %><br>
    <%= f.text_field :school, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :profession %><br>
    <%= f.text_field :profession, :class => "form-control" %>
  </div>
    
  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, :class => "form-control" %>
  </div>
 
  <div class="form-group">
    <br/>
    <%= f.label :institution %><br>
    <%= f.text_field :institution, :class => "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :cv_link %><br>
    <%= f.text_field :cvLink, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :declaration_link %><br>
    <%= f.text_field :declarationLink, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quote1 %><br>
    <%= f.text_area :quote1, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :quote2 %><br>
    <%= f.text_area :quote2, :class => "form-control" %>
  </div>

  <br/>
  <br/>

  <br/><h3><span class="glyphicon glyphicon-thumbs-up"></span> SOCIAL NETWORKS</h3><hr/>
  
  <div class="form-group">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :linkedin %><br>
    <%= f.text_field :linkedin, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :googlePlus %><br>
    <%= f.text_field :googlePlus, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :instagram %><br>
    <%= f.text_field :instagram, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pinterest %><br>
    <%= f.text_field :pinterest, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :blog %><br>
    <%= f.text_field :blog, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :youtubeChannel %><br>
    <%= f.text_field :youtubeChannel, :class => "form-control" %>
  </div>
  
  <br/>
  <br/> 

  
  <br/><h3><span class="glyphicon glyphicon-signal"></span> STATS </h3><hr/>

  <div class="form-group">
    <%= f.label :likes %><br>
    <%= f.number_field :likes, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :followers %><br>
    <%= f.number_field :followers, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :verified %><br>
    <%= f.text_field :verified, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :premium %><br>
    <%= f.text_field :premium, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :following %><br>
    <%= f.number_field :following, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :openProjects %><br>
    <%= f.number_field :openProjects, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :closedProjects %><br>
    <%= f.number_field :closedProjects, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :proposals %><br>
    <%= f.number_field :proposals, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :debates %><br>
    <%= f.number_field :debates, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :sponsorships %><br>
    <%= f.number_field :sponsorships, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :victories %><br>
    <%= f.number_field :victories, :class => "form-control" %>
  </div>

  <br/>
  <br/>
  
  <br/><h3><span class="glyphicon glyphicon-earphone"></span> POLITICAL CONTACT</h3><hr/>

  <div class="form-group">
    <%= f.label :institutional_Address %><br>
    <%= f.text_area :institutionalAddress, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :institutional_Telephone %><br>
    <%= f.text_field :institutionalTelephone, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :institutional_Fax %><br>
    <%= f.text_field :institutionalFax, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :institutional_MobilePhone %><br>
    <%= f.text_field :institutionalMobilePhone, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :electoral_Address %><br>
    <%= f.text_field :electoralAddress, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :electoral_Telephone %><br>
    <%= f.text_field :electoralTelephone, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :electoral_Fax %><br>
    <%= f.text_field :electoralFax, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :electoral_Mobile %><br>
    <%= f.text_field :electoralMobile, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :assistants %><br>
    <%= f.text_field :assistants, :class => "form-control" %>
  </div>

  <br/>
  <br/>

  <br/><h3><span class="glyphicon glyphicon-king"></span> POLITICAL PARTY</h3><hr/>

  <div class="form-group">
    <%= f.label :political_Party %><br>
    <% if @datum.new_record?  %>
      <%= f.collection_select :politicalParty, PoliticalParty.where(:region_id => params[:region_id]).order(:name), :name, :name, {include_blank: true}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :politicalParty, PoliticalParty.where(:region_id => @datum.region_id).order(:name), :name, :name, {include_blank: true}, {class: "form-control"} %>
    <% end %>
  
  </div>
  
  <%  
    party_image = ""  
    leaning_index = ""
    ideology1 = ""
    ideology2 = ""
    ideology3 = ""
    ideology4 = ""
    ideology5 = ""

    party_name = ""

    if @datum.politicalParty != "" && !@datum.new_record? 
      political_party = PoliticalParty.where("name LIKE ?",  '%'+@datum.politicalParty+'%')
      political_party.each do |pp|
        
        if @datum.politicalPartyImage != "" && !@datum.politicalPartyImage.blank? 
          party_image = @datum.politicalPartyImage
        else
          party_image = pp.image
        end

        if @datum.political_leaning_index != "" && !@datum.political_leaning_index.blank? && @datum.political_leaning_index != 0.0
          leaning_index = @datum.political_leaning_index        
        else
          leaning_index = pp.leaning_index
        end

        if @datum.ideology1 != "" && !@datum.ideology1.blank? && @datum.ideology1 != 0.0
          ideology1 = @datum.ideology1
        else
          ideology1 = pp.leaning_index  
        end  

        if @datum.ideology2 != "" && !@datum.ideology2.blank? && @datum.ideology2 != 0.0
          ideology2 = @datum.ideology2
        else
          ideology2 = pp.leaning_index  
        end 

        if @datum.ideology3 != "" && !@datum.ideology3.blank? && @datum.ideology3 != 0.0
          ideology3 = @datum.ideology3
        else
          ideology3 = pp.leaning_index  
        end 

        if @datum.ideology4 != "" && !@datum.ideology4.blank? && @datum.ideology4 != 0.0
          ideology4 = @datum.ideology4
        else
          ideology4 = pp.leaning_index  
        end 

        if @datum.ideology5 != "" && !@datum.ideology5.blank? && @datum.ideology5 != 0.0
          ideology5 = @datum.ideology5
        else
          ideology5 = pp.leaning_index  
        end 

      end  
    end  
  %>

  <div class="form-group">
    <%= f.label :political_leaning_indexs %><br>
    
    <% if @datum.new_record? %>
      <%= f.text_field :political_leaning_index, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.political_leaning_index != "" && !@datum.political_leaning_index.blank? && @datum.political_leaning_index != 0.0  %>
        <%= f.text_field :political_leaning_index, :class => "form-control", :value => @datum.political_leaning_index %><br> 
      <% else %>
        <%= f.text_field :political_leaning_index, :class => "form-control", :value => leaning_index %><br>     
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :political_Party_Image %><br>
    
    <% if @datum.new_record? %>
      <%= f.text_field :politicalPartyImage, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.politicalPartyImage != "" && !@datum.politicalPartyImage.nil? %>
        <%= f.text_field :politicalPartyImage, :class => "form-control", :value => @datum.politicalPartyImage %><br> 
      <% else %>
        <%= f.text_field :politicalPartyImage, :class => "form-control", :value => party_image %><br>     
      <% end %>
    <% end %>
  
  </div>

  <div class="form-group">
    <%= f.label :ideology_1 %><br>

    <% if @datum.new_record? %>
      <%= f.text_field :ideology1, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.ideology1 != "" && !@datum.ideology1.nil? && @datum.ideology1 != 0.0 %>
        <%= f.text_field :ideology1, :class => "form-control", :value => @datum.ideology1 %><br> 
      <% else %>
        <%= f.text_field :ideology1, :class => "form-control", :value => ideology1 %><br> <br>     
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :ideology_2 %><br>

    <% if @datum.new_record? %>
      <%= f.text_field :ideology2, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.ideology2 != "" && !@datum.ideology2.nil? && @datum.ideology2 != 0.0 %>
        <%= f.text_field :ideology2, :class => "form-control", :value => @datum.ideology2 %><br> 
      <% else %>
        <%= f.text_field :ideology2, :class => "form-control", :value => ideology2 %><br> <br>     
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :ideology_3 %><br>
    
    <% if @datum.new_record? %>
      <%= f.text_field :ideology3, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.ideology3 != "" && !@datum.ideology3.nil? && @datum.ideology3 != 0.0 %>
        <%= f.text_field :ideology3, :class => "form-control", :value => @datum.ideology3 %><br> 
      <% else %>
        <%= f.text_field :ideology3, :class => "form-control", :value => ideology3 %><br> <br>     
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :ideology_4 %><br>
    
    <% if @datum.new_record? %>
      <%= f.text_field :ideology4, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.ideology3 != "" && !@datum.ideology3.nil? && @datum.ideology4 != 0.0 %>
        <%= f.text_field :ideology4, :class => "form-control", :value => @datum.ideology4 %><br> 
      <% else %>
        <%= f.text_field :ideology4, :class => "form-control", :value => ideology4 %><br> <br>     
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :ideology_5 %><br>

    <% if @datum.new_record? %>
      <%= f.text_field :ideology5, :class => "form-control" %><br>    
    <% else %>
      <% if @datum.ideology3 != "" && !@datum.ideology3.nil? && @datum.ideology5 != 0.0 %>
        <%= f.text_field :ideology5, :class => "form-control", :value => @datum.ideology5 %><br> 
      <% else %>
        <%= f.text_field :ideology5, :class => "form-control", :value => ideology5 %><br> <br>     
      <% end %>
    <% end %>
  </div>
  

  <br/>
  <br/>

  <br/><h3><span class="glyphicon glyphicon-king"></span> POLITICAL EXPERIENCE</h3><hr/>

  <div class="row">
    <!-- EXPERIENCE 1 -->
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_1 %><br>
          <%= f.text_field :political_experience1, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_1_content %><br>
          <%= f.text_area :political_experience1_content, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_1_date %><br>
          <%= f.text_field :political_experience1_date, :class => "form-control datepicker", :readonly => true%>
        </div>  
    </div>
  </div>  

  <div class="row">
    <!-- EXPERIENCE 2 -->
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_2 %><br>
          <%= f.text_field :political_experience2, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_2_content %><br>
          <%= f.text_area :political_experience2_content, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_2_date %><br>
          <%= f.text_field :political_experience2_date, :class => "form-control datepicker", :readonly => true %>
        </div>  
    </div>
  </div>  

  <div class="row">
    <!-- EXPERIENCE 3 -->
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_3 %><br>
          <%= f.text_field :political_experience3, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience3_content %><br>
          <%= f.text_area :political_experience3_content, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_3_date %><br>
          <%= f.text_field :political_experience3_date, :class => "form-control datepicker", :readonly => true %>
        </div>  
    </div>
  </div>  

  <div class="row">
    <!-- EXPERIENCE 4 -->
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_4 %><br>
          <%= f.text_field :political_experience4, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_4_content %><br>
          <%= f.text_area :political_experience4_content, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_4_date %><br>
          <%= f.text_field :political_experience4_date, :class => "form-control datepicker", :readonly => true %>
        </div>  
    </div>
  </div>
    
  <div class="row">
    <!-- EXPERIENCE 5 -->
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_5 %><br>
          <%= f.text_field :political_experience5, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_5_content %><br>
          <%= f.text_area :political_experience5_content, :class => "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :political_experience_5_date %><br>
          <%= f.text_field :political_experience5_date, :class => "form-control datepicker", :readonly => true %>
        </div>  
    </div>
  </div>  


  <br/>
  <br/>
  
  <br/><h3><span class="glyphicon glyphicon-equalizer"></span> POLITICAL ACTIVITIES</h3><hr/>

  <div class="form-group">
    <%= f.label :sourceActivity %><br>
    <%= f.text_field :sourceActivity, :class => "form-control" %>
  </div>

  <div class="row">
    <!-- ACTIVITY 1 -->
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :last_Activity_1 %><br>
        <%= f.text_area :lastActivity1, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_1_Date %><br>
        <%= f.text_field :lastActivity1Date, :class => "form-control datepicker", :readonly => true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_1_Action %><br>
        <%= f.text_field :lastActivity1Action, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_1_Outcome %><br>
        <%= f.text_field :lastActivity1Outcome, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_1_Link %><br>
        <%= f.text_field :lastActivity1Link, :class => "form-control" %>
      </div>
    </div>
  </div> 

  <div class="row">
    <!-- ACTIVITY 2 -->
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :lastActivity_2 %><br>
        <%= f.text_area :lastActivity2, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_2_Date %><br>
        <%= f.text_field :lastActivity2Date, :class => "form-control datepicker", :readonly => true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_2_Action %><br>
        <%= f.text_field :lastActivity2Action, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_2_Outcome %><br>
        <%= f.text_field :lastActivity2Outcome, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :last_Activity_2_Link %><br>
        <%= f.text_field :lastActivity2Link, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- ACTIVITY 3 -->
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :lastActivity_3 %><br>
        <%= f.text_area :lastActivity3, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_3_Date %><br>
        <%= f.text_field :lastActivity3Date, :class => "form-control datepicker", :readonly => true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_3_Action %><br>
        <%= f.text_field :lastActivity3Action, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_3_Outcome %><br>
        <%= f.text_field :lastActivity3Outcome, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_3_Link %><br>
        <%= f.text_field :lastActivity3Link, :class => "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- ACTIVITY 4 -->
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :lastActivity_4 %><br>
        <%= f.text_area :lastActivity4, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_4_Date %><br>
        <%= f.text_field :lastActivity4Date, :class => "form-control datepicker", :readonly => true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_4_Action %><br>
        <%= f.text_field :lastActivity4Action, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_4_Outcome %><br>
        <%= f.text_field :lastActivity4Outcome, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_4_Link %><br>
        <%= f.text_field :lastActivity4Link, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- ACTIVITY 5 -->
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :lastActivity_5 %><br>
        <%= f.text_area :lastActivity5, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_5_Date %><br>
        <%= f.text_field :lastActivity5Date, :class => "form-control datepicker", :readonly => true %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_5_Action %><br>
        <%= f.text_field :lastActivity5Action, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_5_Outcome %><br>
        <%= f.text_field :lastActivity5Outcome, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :lastActivity_5_Link %><br>
        <%= f.text_field :lastActivity5Link, :class => "form-control" %>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <br/><h3><span class="glyphicon glyphicon-screenshot"></span> CAUSES </h3><hr/>

  <div class="form-group">
    <%= f.label :cause_1 %><br>
    <%= f.text_field :cause1, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cause_2 %><br>
    <%= f.text_field :cause2, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cause_3 %><br>
    <%= f.text_field :cause3, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :cause_4 %><br>
    <%= f.text_field :cause4, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cause_5 %><br>
    <%= f.text_field :cause5, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cause_6 %><br>
    <%= f.text_field :cause6, :class => "form-control" %>
  </div>

  <br/>
  <br/>

  <br/><h3><span class="glyphicon glyphicon-eye-open"></span> KNOWN FOR </h3><hr/>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_1 %><br>
          <%= f.text_field :known_for1, :class => "form-control" %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_link_1 %><br>
          <%= f.text_field :known_for_link1, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_2 %><br>
          <%= f.text_field :known_for2, :class => "form-control" %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_link_2 %><br>
          <%= f.text_field :known_for_link2, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_3 %><br>
          <%= f.text_field :known_for3, :class => "form-control" %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_link_3 %><br>
          <%= f.text_field :known_for_link3, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_4 %><br>
          <%= f.text_field :known_for4, :class => "form-control" %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_link_4 %><br>
          <%= f.text_field :known_for_link4, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_5 %><br>
          <%= f.text_field :known_for5, :class => "form-control" %>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :known_for_link_5 %><br>
          <%= f.text_field :known_for_link5, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>

    <div class="form-group">

    <br/><h3><span class="glyphicon glyphicon-globe"></span> GEOGRAPHICAL AREAS</h3><hr/>

    <div class="row ">

      <div class="col-md-6">

        <table class="region-table">
          <tr>
            <td class="region-label"><b>Region name: &nbsp;</td>
            <td colspan="2"><%= f.text_field :region, :class => "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td class="region-label"><b> Region Code: </b></td>
            <td>Alliance:</td>
            <td>
            <%= f.collection_select :region_code_alliance, Region.order(:iso3166_2).where("length(iso3166_2) = 2"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">Nation:</td>
            <td>
              <%= f.collection_select :region_code_nation, Region.order(:iso3166_2).where("length(iso3166_2) = 5"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">State:</td>
            <td>
              <%= f.collection_select :region_code_state, Region.order(:iso3166_2).where("length(iso3166_2) = 8"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">County:</td>
            <td>
              <%= f.collection_select :region_code_county, Region.order(:iso3166_2).where("length(iso3166_2) = 11"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="region-label">City:</td>
            <td>
              <%= f.collection_select :region_code_city, Region.order(:iso3166_2).where("length(iso3166_2) = 14"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
            </td>
          </tr>
        </table>

      </div>

      <div class="col-md-6">  
         <table class="region-table">
            <tr>
              <td class="region-label"><b>Contituency name: &nbsp;</td>
              <td colspan="2"><%= f.text_field :constituency, :class => "form-control" %></td>
              <td></td>
            </tr>
            <tr>
              <td><b> Constituency Code: </b></td>
              <td>Alliance:</td>
              <td><%= f.collection_select :constituency_code_alliance, Region.order(:iso3166_2).where("length(iso3166_2) = 2"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>Nation:</td>
              <td>
                <%= f.collection_select :constituency_code_nation, Region.order(:iso3166_2).where("length(iso3166_2) = 5"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>State:</td>
              <td>
                <%= f.collection_select :constituency_code_state, Region.order(:iso3166_2).where("length(iso3166_2) = 8"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>Country:</td>
              <td>
                 <%= f.collection_select :constituency_code_county, Region.order(:iso3166_2).where("length(iso3166_2) = 11"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>City:</td>
              <td>
                  <%= f.collection_select :constituency_code_city, Region.order(:iso3166_2).where("length(iso3166_2) = 14"), :iso3166_2, :iso_and_name, {include_blank: true}, {class: "form-control"} %>
              </td>
            </tr>
          </table>

      </div>
    
    </div>
   

    <!-- <%= f.collection_select :region, Region.order(:name),:id,:name, include_blank: true %> -->
  </div>

  <br/>
  <br/>

  <hr/>
  
  <div class="form-group">
    <%= f.label :official_Website %><br>
    <%= f.text_field :officialWebsite, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :sourceWebsite %><br>
    <%= f.text_field :sourceWebsite, :class => "form-control" %>
  </div>

  <br/><br/>
  
  <div class="actions">
    <% if @datum.new_record? %>
      <%= f.hidden_field :region_id, :value => params[:region_id] %>
      <%= f.submit "Add politician", class: "btn btn-lg btn-block btn-success" %>
    <% else %>
      <%= f.submit "Update", class: "btn btn-lg btn-block btn-success" %>
    <% end %>
  </div>

  <br/>

<% end %>
