<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
    $(function(){

    	
    	$('.datepicker').datepicker({ 
    		dateFormat: 'dd/mm/yy 00:00',
    		changeMonth: true,
      		changeYear: true,
      		yearRange: "1900:+nn" 
    	});
		

    	var nations = [];
      	var states = [];
      	var counties = [];
      	var cities = [];

      	var nations2 = [];
      	var states2 = [];
      	var counties2 = [];
      	var cities2 = [];

      	
      	/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$####$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
      	/* 									 DYNAMIC DATA FOR REGIONS									 */
		/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$####$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

      	/* ################### SET DATA IF EDITING (WHEN THE PAGE FIRST LOAD) ################## */
      	if ( $("#datum_region_code_alliance option:selected").val().length > 0 ) {

      		var value = $("#datum_region_code_alliance option:selected").val();

      		if (nations.length == 0) {
				$("#datum_region_code_nation option").each(function(){
			    	nations.push(this);
				});
			} 

			$('#datum_region_code_nation  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
			    
      		});
      	} 	

      	if ( $("#datum_region_code_nation option:selected").val().length > 0 ) {


      		var value = $("#datum_region_code_nation option:selected").val();
      		

      		if (states.length == 0) {
				$("#datum_region_code_state option").each(function(){
			    	states.push(this);
				});
			} 

			$('#datum_region_code_state  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    	//alert(value2);
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    		//alert("detach!");
			    	}
			    }
			    
      		});
      	} 


      	if ( $("#datum_region_code_state option:selected").val().length > 0 ) {

      		var value = $("#datum_region_code_state option:selected").val();
      		
      		if (counties.length == 0) {
				$("#datum_region_code_county option").each(function(){
			    	counties.push(this);
				});
			} 

			$('#datum_region_code_county  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    	//alert(value2);
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    		//alert("detach!");
			    	}
			    }
			    
      		});
      	} 

      	if ( $("#datum_region_code_county option:selected").val().length > 0 ) {

      		var value = $("#datum_region_code_county option:selected").val();
      		
      		if (cities.length == 0) {
				$("#datum_region_code_city option").each(function(){
			    	cities.push(this);
				});
			} 

			$('#datum_region_code_city  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    	//alert(value2);
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    		//alert("detach!");
			    	}
			    }
			    
      		});
      	} 



    	/* ################### CHANGE DATA (Alliance - Nation)  ################## */
    	    
     	$('#datum_region_code_alliance').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');

			if (nations.length == 0) {
				$("#datum_region_code_nation option").each(function(){
			    	nations.push(this);
				});

			} else {
				$("#datum_region_code_nation").append("");
				$("#datum_region_code_nation").append(nations);
			}

			
			$('#datum_region_code_nation  option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
      		});

      		if (value == ""){
        		$("#datum_region_code_nation").val("").change();
        		$("#datum_region_code_state").val("").change();
        		$("#datum_region_code_county").val("").change();
        		$("#datum_region_code_city").val("").change();
        	}
		    
      	});


      	/* ################### CHANGE DATA (Nation - State)  ################## */
    
     	$('#datum_region_code_nation').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (states.length == 0) {
				$("#datum_region_code_state option").each(function(){
			    	states.push(this);
				});
			} else {
				$("#datum_region_code_state").append("");
				$("#datum_region_code_state").append(states);
			}

			
			$('#datum_region_code_state option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	} 
			    }
      		});

      		if (value == ""){
        		$("#datum_region_code_state").val("").change();
        		$("#datum_region_code_county").val("").change();
        		$("#datum_region_code_city").val("").change();
        	}
		    
      	});


      	/* ################### CHANGE DATA (State - County)  ################## */
    
     	$('#datum_region_code_state').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (counties.length == 0) {
				$("#datum_region_code_county option").each(function(){
			    	counties.push(this);
				});
			} else {
				$("#datum_region_code_county").append("");
				$("#datum_region_code_county").append(counties);
			}

			
			$('#datum_region_code_county option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
      		});

      		if (value == ""){
        		$("#datum_region_code_county").val("").change();
        		$("#datum_region_code_city").val("").change();
        	}
		    
      	});


      	/* ################### CHANGE DATA (County - City)  ################## */
    
     	$('#datum_region_code_county').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (cities.length == 0) {
				$("#datum_region_code_city option").each(function(){
			    	cities.push(this);
				});
			} else {
				$("#datum_region_code_city").append("");
				$("#datum_region_code_city").append(cities);
			}

			
			$('#datum_region_code_city option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
      		});
		    
      	});


        /*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$####$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
      	/* 									 DYNAMIC DATA FOR REGIONS									 */
		/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$####$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

		      	/* ################### SET DATA IF EDITING (WHEN THE PAGE FIRST LOAD) ################## */
      	if ( $("#datum_constituency_code_alliance option:selected").val().length > 0 ) {

      		var value = $("#datum_constituency_code_alliance option:selected").val();

      		if (nations2.length == 0) {
				$("#datum_constituency_code_nation option").each(function(){
			    	nations2.push(this);
				});
			} 

			$('#datum_constituency_code_nation  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
			    
      		});

      	} 	

      	if ( $("#datum_constituency_code_nation option:selected").val().length > 0 ) {


      		var value = $("#datum_constituency_code_nation option:selected").val();
      		
      		if (states2.length == 0) {
				$("#datum_constituency_code_state option").each(function(){
			    	states2.push(this);
				});
			} 

			$('#datum_constituency_code_state  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    	//alert(value2);
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    		//alert("detach!");
			    	}
			    }
			    
      		});
      	} 


      	if ( $("#datum_constituency_code_state option:selected").val().length > 0 ) {

      		var value = $("#datum_constituency_code_state option:selected").val();
      		
      		if (counties2.length == 0) {
				$("#datum_constituency_code_county option").each(function(){
			    	counties2.push(this);
				});
			} 

			$('#datum_constituency_code_county  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    	//alert(value2);
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    		//alert("detach!");
			    	}
			    }
			    
      		});
      	} 

      	if ( $("#datum_constituency_code_county option:selected").val().length > 0 ) {

      		var value = $("#datum_constituency_code_county option:selected").val();
      		
      		if (cities2.length == 0) {
				$("#datum_constituency_code_city option").each(function(){
			    	cities2.push(this);
				});
			} 

			$('#datum_constituency_code_city  option').each(function() {
			    var value2 = this.value

				if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    	//alert(value2);
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    		//alert("detach!");
			    	}
			    }
			    
      		});
      	} 



    	/* ################### CHANGE DATA (Alliance - Nation)  ################## */
    	    
     	$('#datum_constituency_code_alliance').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (nations2.length == 0) {
				$("#datum_constituency_code_nation option").each(function(){
			    	nations2.push(this);
				});

			} else {
				$("#datum_constituency_code_nation").append("");
				$("#datum_constituency_code_nation").append(nations2);
			}

			
			$('#datum_constituency_code_nation  option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
      		});

      		if (value == ""){
        		$("#datum_constituency_code_nation").val("").change();
        		$("#datum_constituency_code_state").val("").change();
        		$("#datum_constituency_code_county").val("").change();
        		$("#datum_constituency_code_city").val("").change();
        	}
      		

		    
      	});


      	/* ################### CHANGE DATA (Nation - State)  ################## */
    
     	$('#datum_constituency_code_nation').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (states2.length == 0) {
				$("#datum_constituency_code_state option").each(function(){
			    	states2.push(this);
				});
			} else {
				$("#datum_constituency_code_state").append("");
				$("#datum_constituency_code_state").append(states2);
			}

			
			$('#datum_constituency_code_state option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	} 
			    }
      		});


      		if (value == ""){
        		$("#datum_constituency_code_state").val("").change();
        		$("#datum_constituency_code_county").val("").change();
        		$("#datum_constituency_code_city").val("").change();
        	}
		    
      	});


      	/* ################### CHANGE DATA (State - County)  ################## */
    
     	$('#datum_constituency_code_state').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (counties2.length == 0) {
				$("#datum_constituency_code_county option").each(function(){
			    	counties2.push(this);
				});
			} else {
				$("#datum_constituency_code_county").append("");
				$("#datum_constituency_code_county").append(counties2);
			}

			
			$('#datum_constituency_code_county option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
      		});

      		if (value == ""){
        		$("#datum_constituency_code_county").val("").change();
        		$("#datum_constituency_code_city").val("").change();
        	}
		    
      	});


      	/* ################### CHANGE DATA (County - City)  ################## */
    
     	$('#datum_constituency_code_county').on('change', function(){
        	
        	var value = $('option:selected',this).attr('value');


			if (cities2.length == 0) {
				$("#datum_constituency_code_city option").each(function(){
			    	cities2.push(this);
				});
			} else {
				$("#datum_constituency_code_city").append("");
				$("#datum_constituency_code_city").append(cities2);
			}

			
			$('#datum_constituency_code_city option').each(function() {
			    var value2 = this.value

			    if (value2.indexOf(value) >= 0) { 
			    	//do nothing
			    } else {
			    	if (this.value != "") {
			    		$(this).detach(); 
			    	}
			    }
      		});
		    
      	});

    
    });
</script>

<div style="display:none" id="region_code_temp">
</div>


<div class="row">
	<div class="col-md-7">
		<h1><span class="glyphicon glyphicon-edit"></span> Editing Data</h1>
	</div>
	<div class="col-md-5">
		<div style="margin:20px 0 0 0;text-align:right;">
			<%= link_to '< Back', page_politicians_path(:region_id => params[:region_id], :alliance_id => params[:alliance_id], :county_id => params[:county_id], :nation_id => params[:nation_id], :state_id => params[:state_id], :city_id => params[:city_id]), class: "btn btn-primary btn-md" %>
			<%= link_to 'View', {:controller => "data", :action => "show", :id => @datum.id, :alliance_id => params[:alliance_id], :county_id => params[:county_id],:nation_id => params[:nation_id], :state_id => params[:state_id], :city_id => params[:city_id], :region_id => params[:region_id] }, class: "btn btn-info btn-md" %> 
		</div>
	</div>
</div>

<hr/>


<br/>

<%= render 'form' %>


<br/>

<hr/>

<%= link_to '< Back', page_politicians_path(:region_id => params[:region_id], :alliance_id => params[:alliance_id], :county_id => params[:county_id], :nation_id => params[:nation_id], :state_id => params[:state_id], :city_id => params[:city_id]), class: "btn btn-primary btn-md" %>
<%= link_to 'View', @datum, class: "btn btn-info btn-md" %> 

<br/><br/>

