<h1>ALL DATA</h1>

<hr/>

<br/>

<div class="table-div">
  <table class="listing table table-striped">
    <thead>
      <tr class="header">
        <th>No</th>
        <th>Name</th>
        <th>Politicalparty</th>
        <th>Region</th>
        <th>Institution</th>
        <th>Constituency</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    <% i = 1 %>
      <% @data.each do |datum| %>
        <tr>
          <td><%= i %></td>
          <td><%= datum.name %></td>
          <td><%= datum.politicalParty %></td>
          <td><%= datum.region %></td>
          <td><%= datum.institution %></td>
          <td><%= datum.constituency %></td>
          <td>
            <%= link_to 'View more', datum, :class => "btn btn-sm btn-info" %>
            <%= link_to 'Edit', edit_datum_path(datum), :class => "btn btn-sm btn-success" %>
          </td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

