
<h1><span class="glyphicon glyphicon-user"></span> LISTING POLITICIAN DETAILS</h1>
<b>POLITICIAN: <span style="color:#95A5A6"><%= @datum.name %></span></b>

<hr/>

<br/>

<div class="table-div">
  <table class="listing table table-striped">
  <thead>
      <tr class="header">
        <th>Column</th>
        <th>Details</th>
      </tr>
  </thead>  

  <tr><td> 
    <strong>Source website</strong></td><td>
    <%= @datum.sourceWebsite %>
  </td> </tr>

  <tr><td> 
    <strong>Name</strong></td><td>
    <%= @datum.name %>
  </td> </tr>

  <tr><td> 
    <strong>Picture</strong></td><td>
    <%= @datum.picture %>
  </td> </tr>

  <tr><td> 
    <strong>Political party</strong></td><td>
    <%= @datum.politicalParty %>
  </td> </tr>

  <tr><td> 
    <strong>Political party image</strong></td><td>
    <%= @datum.politicalPartyImage %>
  </td> </tr>

  <tr><td> 
    <strong>Verified</strong></td><td>
    <%= @datum.verified %>
  </td> </tr>

  <tr><td> 
    <strong>Likes</strong></td><td>
    <%= @datum.likes %>
  </td> </tr>

  <tr><td> 
    <strong>Followers</strong></td><td>
    <%= @datum.followers %>
  </td> </tr>

  <tr><td> 
    <strong>Email</strong></td><td>
    <%= @datum.email %>
  </td> </tr>

  <tr><td> 
    <strong>Twitter</strong></td><td>
    <%= @datum.twitter %>
  </td> </tr>

  <tr><td> 
    <strong>Facebook</strong></td><td>
    <%= @datum.facebook %>
  </td> </tr>

  <tr><td> 
    <strong>Linkedin</strong></td><td>
    <%= @datum.linkedin %>
  </td> </tr>

  <tr><td> 
    <strong>Google plus</strong></td><td>
    <%= @datum.googlePlus %>
  </td> </tr>

  <tr><td> 
    <strong>Instagram</strong></td><td>
    <%= @datum.instagram %>
  </td> </tr>

  <tr><td> 
    <strong>Blog</strong></td><td>
    <%= @datum.blog %>
  </td> </tr>

  <tr><td> 
    <strong>Youtubechannel</strong></td><td>
    <%= @datum.youtubeChannel %>
  </td> </tr>

  <tr><td> 
    <strong>Premium</strong></td><td>
    <%= @datum.premium %>
  </td> </tr>

  <tr><td> 
    <strong>Bio</strong></td><td>
    <%= @datum.bio %>
  </td> </tr>

  <tr><td> 
    <strong>Quote1</strong></td><td>
    <%= @datum.quote1 %>
  </td> </tr>

  <tr><td> 
    <strong>Quote2</strong></td><td>
    <%= @datum.quote2 %>
  </td> </tr>

  <tr><td> 
    <strong>Source activity</strong></td><td>
    <%= @datum.sourceActivity %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity 1</strong></td><td>
    <%= @datum.lastActivity1 %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 1 Date</strong></td><td>
    <%= @datum.lastActivity1Date %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 1 Action</strong></td><td>
    <%= @datum.lastActivity1Action %>
  </td> </tr>

  <tr><td> 
    <strong>lastActivity 1 Outcome</strong></td><td>
    <%= @datum.lastActivity1Outcome %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 1 Link</strong></td><td>
    <%= @datum.lastActivity1Link %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity 2</strong></td><td>
    <%= @datum.lastActivity2 %>
  </td> </tr>

    <tr><td>  
    <strong>LastActivity 2 Date</strong></td><td>
    <%= @datum.lastActivity2Date %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 2 Action</strong></td><td>
    <%= @datum.lastActivity2Action %>
  </td> </tr>

  <tr><td> 
    <strong>lastActivity 2 Outcome</strong></td><td>
    <%= @datum.lastActivity2Outcome %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 2 Link</strong></td><td>
    <%= @datum.lastActivity2Link %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity 3</strong></td><td>
    <%= @datum.lastActivity3 %>
  </td> </tr>

    <tr><td> 
    <strong>LastActivity 3 Date</strong></td><td>
    <%= @datum.lastActivity3Date %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 3 Action</strong></td><td>
    <%= @datum.lastActivity3Action %>
  </td> </tr>

  <tr><td> 
    <strong>lastActivity 3 Outcome</strong></td><td>
    <%= @datum.lastActivity3Outcome %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 3 Link</strong></td><td>
    <%= @datum.lastActivity3Link %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity 4</strong></td><td>
    <%= @datum.lastActivity4 %>
  </td> </tr>

    <tr><td> 
    <strong>LastActivity 4 Date</strong></td><td>
    <%= @datum.lastActivity4Date %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 4 Action</strong></td><td>
    <%= @datum.lastActivity4Action %>
  </td> </tr>

  <tr><td> 
    <strong>lastActivity 4 Outcome</strong></td><td>
    <%= @datum.lastActivity4Outcome %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 4 Link</strong></td><td>
    <%= @datum.lastActivity4Link %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity 5</strong></td><td>
    <%= @datum.lastActivity5 %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 5 Date</strong></td><td>
    <%= @datum.lastActivity5Date %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 5 Action</strong></td><td>
    <%= @datum.lastActivity5Action %>
  </td> </tr>

  <tr><td> 
    <strong>lastActivity 5 Outcome</strong></td><td>
    <%= @datum.lastActivity5Outcome %>
  </td> </tr>

  <tr><td> 
    <strong>LastActivity 5 Link</strong></td><td>
    <%= @datum.lastActivity5Link %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 1</strong></td><td>
    <%= @datum.ideology1 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 2</strong></td><td>
    <%= @datum.ideology2 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 3</strong></td><td>
    <%= @datum.ideology3 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 4</strong></td><td>
    <%= @datum.ideology4 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 5</strong></td><td>
    <%= @datum.ideology5 %>
  </td> </tr>

  <tr><td> 
    <strong>Following</strong></td><td>
    <%= @datum.following %>
  </td> </tr>

  <tr><td> 
    <strong>Openprojects</strong></td><td>
    <%= @datum.openProjects %>
  </td> </tr>

  <tr><td> 
    <strong>Closedprojects</strong></td><td>
    <%= @datum.closedProjects %>
  </td> </tr>

  <tr><td> 
    <strong>Proposals</strong></td><td>
    <%= @datum.proposals %>
  </td> </tr>

  <tr><td> 
    <strong>Debates</strong></td><td>
    <%= @datum.debates %>
  </td> </tr>

  <tr><td> 
    <strong>Sponsorships</strong></td><td>
    <%= @datum.sponsorships %>
  </td> </tr>

  <tr><td> 
    <strong>Victories</strong></td><td>
    <%= @datum.victories %>
  </td> </tr>

  <tr><td> 
    <strong>Dateofbirth</strong></td><td>
    <%= @datum.dateOfBirth %>
  </td> </tr>

  <tr><td> 
    <strong>Placeofbirth</strong></td><td>
    <%= @datum.placeOfBirth %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional address</strong></td><td>
    <%= @datum.institutionalAddress %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional telephone</strong></td><td>
    <%= @datum.institutionalTelephone %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional fax</strong></td><td>
    <%= @datum.institutionalFax %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional mobilephone</strong></td><td>
    <%= @datum.institutionalMobilePhone %>
  </td> </tr>

  <tr><td> 
    <strong>Electoral address</strong></td><td>
    <%= @datum.electoralAddress %>
  </td> </tr>

  <tr><td> 
    <strong>Electoraltelephone</strong></td><td>
    <%= @datum.electoralTelephone %>
  </td> </tr>

  <tr><td> 
    <strong>Electoralfax</strong></td><td>
    <%= @datum.electoralFax %>
  </td> </tr>

  <tr><td> 
    <strong>Electoralmobile</strong></td><td>
    <%= @datum.electoralMobile %>
  </td> </tr>

  <tr><td> 
    <strong>Phone</strong></td><td>
    <%= @datum.phone %>
  </td> </tr>

  <tr><td> 
    <strong>Assistants</strong></td><td>
    <%= @datum.assistants %>
  </td> </tr>

  <tr><td> 
    <strong>Completename</strong></td><td>
    <%= @datum.completeName %>
  </td> </tr>

  <tr><td> 
    <strong>Position</strong></td><td>
    <%= @datum.position %>
  </td> </tr>

  <tr><td> 
    <strong>Region</strong></td><td>
    <%= @region_name %>
  </td> </tr>

  <tr><td> 
    <strong>Region Alliance</strong></td><td>
    <%= @datum.region_code_alliance %>
  </td> </tr>

  <tr><td> 
    <strong>Region Nation</strong></td><td>
    <%= @datum.region_code_nation %>
  </td> </tr>

  <tr><td> 
    <strong>Region State</strong></td><td>
    <%= @datum.region_code_state %>
  </td> </tr>

  <tr><td> 
    <strong>Region County</strong></td><td>
    <%= @datum.region_code_county %>
  </td> </tr>

  <tr><td> 
    <strong>Region City</strong></td><td>
    <%= @datum.region_code_city %>
  </td> </tr>

  <tr><td> 
    <strong>Institution</strong></td><td>
    <%= @datum.institution %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency</strong></td><td>
    <%= @datum.constituency %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency Alliance</strong></td><td>
    <%= @datum.region_code_alliance %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency Nation</strong></td><td>
    <%= @datum.constituency_code_nation %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency State</strong></td><td>
    <%= @datum.constituency_code_state %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency County</strong></td><td>
    <%= @datum.constituency_code_county %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency City</strong></td><td>
    <%= @datum.constituency_code_city %>
  </td> </tr>

  <tr><td> 
    <strong>Studies</strong></td><td>
    <%= @datum.studies %>
  </td> </tr>

  <tr><td> 
    <strong>University</strong></td><td>
    <%= @datum.university %>
  </td> </tr>

  <tr><td> 
    <strong>Profession</strong></td><td>
    <%= @datum.profession %>
  </td> </tr>

  <tr><td> 
    <strong>Cvlink</strong></td><td>
    <%= @datum.cvLink %>
  </td> </tr>

  <tr><td> 
    <strong>Declarationlink</strong></td><td>
    <%= @datum.declarationLink %>
  </td> </tr>

  <tr><td> 
    <strong>Officialwebsite</strong></td><td>
    <%= @datum.officialWebsite %>
  </td> </tr>

  <tr><td> 
    <strong>Political Experience</strong></td><td>
    <%= @datum.politicalExperience %>
  </td> </tr>

  <tr><td> 
    <strong>Causes</strong></td><td>
    <%= @datum.causes %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 1</strong></td><td>
    <%= @datum.known_for1 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for link 1</strong></td><td>
    <%= @datum.known_for_link1 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 2</strong></td><td>
    <%= @datum.known_for2 %>
  </td> </tr>

   <tr><td> 
    <strong>Knownf for link 2</strong></td><td>
    <%= @datum.known_for_link2 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 3</strong></td><td>
    <%= @datum.known_for3 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for link 3</strong></td><td>
    <%= @datum.known_for_link3 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 4</strong></td><td>
    <%= @datum.known_for4 %>
  </td> </tr>

   <tr><td> 
    <strong>Known for link 4</strong></td><td>
    <%= @datum.known_for_link4 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 5</strong></td><td>
    <%= @datum.known_for5 %>
  </td> </tr>

   <tr><td> 
    <strong>Known for link 5</strong></td><td>
    <%= @datum.known_for_link5 %>
  </td> </tr>

  </table>

</div>  

<br/>

<hr/>

<!--
<%= link_to '< Back', page_politicians_path(:region => @datum.region), class: "btn btn-primary btn-md" %>
-->
<%= link_to '< Back', url_for(:back), class: "btn btn-primary btn-md" %>
<%= link_to 'Edit', edit_datum_path(@datum), class: "btn btn-success btn-md" %> 

<br/><br/>

