
<h1><span class="glyphicon glyphicon-user"></span> LISTING POLITICIAN DETAILS</h1>
<b>POLITICIAN: <span style="color:#337ab7"><%= @datum.name %></span></b>

<hr/>

<br/>

<div class="table-div">
  <table class="listing table table-striped">
  <thead>
      <tr class="header">
        <th>Column</th>
        <th>Details</th>
      </tr>
  </thead>  

  <tr><td> 
    <strong>Sourcewebsite</strong></td><td>
    <%= @datum.sourceWebsite %>
  </td> </tr>

  <tr><td> 
    <strong>Name</strong></td><td>
    <%= @datum.name %>
  </td> </tr>

  <tr><td> 
    <strong>Picture</strong></td><td>
    <%= @datum.picture %>
  </td> </tr>

  <tr><td> 
    <strong>Politicalparty</strong></td><td>
    <%= @datum.politicalParty %>
  </td> </tr>

  <tr><td> 
    <strong>Politicalpartyimage</strong></td><td>
    <%= @datum.politicalPartyImage %>
  </td> </tr>

  <tr><td> 
    <strong>Verified</strong></td><td>
    <%= @datum.verified %>
  </td> </tr>

  <tr><td> 
    <strong>Likes</strong></td><td>
    <%= @datum.likes %>
  </td> </tr>

  <tr><td> 
    <strong>Followers</strong></td><td>
    <%= @datum.followers %>
  </td> </tr>

  <tr><td> 
    <strong>Email</strong></td><td>
    <%= @datum.email %>
  </td> </tr>

  <tr><td> 
    <strong>Twitter</strong></td><td>
    <%= @datum.twitter %>
  </td> </tr>

  <tr><td> 
    <strong>Facebook</strong></td><td>
    <%= @datum.facebook %>
  </td> </tr>

  <tr><td> 
    <strong>Linkedin</strong></td><td>
    <%= @datum.linkedin %>
  </td> </tr>

  <tr><td> 
    <strong>Googleplus</strong></td><td>
    <%= @datum.googlePlus %>
  </td> </tr>

  <tr><td> 
    <strong>Instagram</strong></td><td>
    <%= @datum.instagram %>
  </td> </tr>

  <tr><td> 
    <strong>Blog</strong></td><td>
    <%= @datum.blog %>
  </td> </tr>

  <tr><td> 
    <strong>Youtubechannel</strong></td><td>
    <%= @datum.youtubeChannel %>
  </td> </tr>

  <tr><td> 
    <strong>Premium</strong></td><td>
    <%= @datum.premium %>
  </td> </tr>

  <tr><td> 
    <strong>Bio</strong></td><td>
    <%= @datum.bio %>
  </td> </tr>

  <tr><td> 
    <strong>Quote1</strong></td><td>
    <%= @datum.quote1 %>
  </td> </tr>

  <tr><td> 
    <strong>Quote2</strong></td><td>
    <%= @datum.quote2 %>
  </td> </tr>

  <tr><td> 
    <strong>Sourceactivity</strong></td><td>
    <%= @datum.sourceActivity %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity1</strong></td><td>
    <%= @datum.lastActivity1 %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity2</strong></td><td>
    <%= @datum.lastActivity2 %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity3</strong></td><td>
    <%= @datum.lastActivity3 %>
  </td> </tr>

  <tr><td> 
    <strong>Lastactivity4</strong></td><td>
    <%= @datum.lastActivity4 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology1</strong></td><td>
    <%= @datum.ideology1 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology2</strong></td><td>
    <%= @datum.ideology2 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology3</strong></td><td>
    <%= @datum.ideology3 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology4</strong></td><td>
    <%= @datum.ideology4 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology5</strong></td><td>
    <%= @datum.ideology5 %>
  </td> </tr>

  <tr><td> 
    <strong>Following</strong></td><td>
    <%= @datum.following %>
  </td> </tr>

  <tr><td> 
    <strong>Openprojects</strong></td><td>
    <%= @datum.openProjects %>
  </td> </tr>

  <tr><td> 
    <strong>Closedprojects</strong></td><td>
    <%= @datum.closedProjects %>
  </td> </tr>

  <tr><td> 
    <strong>Proposals</strong></td><td>
    <%= @datum.proposals %>
  </td> </tr>

  <tr><td> 
    <strong>Debates</strong></td><td>
    <%= @datum.debates %>
  </td> </tr>

  <tr><td> 
    <strong>Sponsorships</strong></td><td>
    <%= @datum.sponsorships %>
  </td> </tr>

  <tr><td> 
    <strong>Victories</strong></td><td>
    <%= @datum.victories %>
  </td> </tr>

  <tr><td> 
    <strong>Dateofbirth</strong></td><td>
    <%= @datum.dateOfBirth %>
  </td> </tr>

  <tr><td> 
    <strong>Placeofbirth</strong></td><td>
    <%= @datum.placeOfBirth %>
  </td> </tr>

  <tr><td> 
    <strong>Institutionaladdress</strong></td><td>
    <%= @datum.institutionalAddress %>
  </td> </tr>

  <tr><td> 
    <strong>Institutionaltelephone</strong></td><td>
    <%= @datum.institutionalTelephone %>
  </td> </tr>

  <tr><td> 
    <strong>Institutionalfax</strong></td><td>
    <%= @datum.institutionalFax %>
  </td> </tr>

  <tr><td> 
    <strong>Institutionalmobilephone</strong></td><td>
    <%= @datum.institutionalMobilePhone %>
  </td> </tr>

  <tr><td> 
    <strong>Electoraladdress</strong></td><td>
    <%= @datum.electoralAddress %>
  </td> </tr>

  <tr><td> 
    <strong>Electoraltelephone</strong></td><td>
    <%= @datum.electoralTelephone %>
  </td> </tr>

  <tr><td> 
    <strong>Electoralfax</strong></td><td>
    <%= @datum.electoralFax %>
  </td> </tr>

  <tr><td> 
    <strong>Electoralmobile</strong></td><td>
    <%= @datum.electoralMobile %>
  </td> </tr>

  <tr><td> 
    <strong>Phone</strong></td><td>
    <%= @datum.phone %>
  </td> </tr>

  <tr><td> 
    <strong>Assistants</strong></td><td>
    <%= @datum.assistants %>
  </td> </tr>

  <tr><td> 
    <strong>Completename</strong></td><td>
    <%= @datum.completeName %>
  </td> </tr>

  <tr><td> 
    <strong>Position</strong></td><td>
    <%= @datum.position %>
  </td> </tr>

  <tr><td> 
    <strong>Region</strong></td><td>
    <%= @region_name %>
  </td> </tr>

  <tr><td> 
    <strong>Region Alliance</strong></td><td>
    <%= @datum.region_code_alliance %>
  </td> </tr>

  <tr><td> 
    <strong>Region Nation</strong></td><td>
    <%= @datum.region_code_nation %>
  </td> </tr>

  <tr><td> 
    <strong>Region State</strong></td><td>
    <%= @datum.region_code_state %>
  </td> </tr>

  <tr><td> 
    <strong>Region County</strong></td><td>
    <%= @datum.region_code_county %>
  </td> </tr>

  <tr><td> 
    <strong>Region City</strong></td><td>
    <%= @datum.region_code_city %>
  </td> </tr>

  <tr><td> 
    <strong>Institution</strong></td><td>
    <%= @datum.institution %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency</strong></td><td>
    <%= @datum.constituency %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency Alliance</strong></td><td>
    <%= @datum.region_code_alliance %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency Nation</strong></td><td>
    <%= @datum.constituency_code_nation %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency State</strong></td><td>
    <%= @datum.constituency_code_state %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency County</strong></td><td>
    <%= @datum.constituency_code_county %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency City</strong></td><td>
    <%= @datum.constituency_code_city %>
  </td> </tr>

  <tr><td> 
    <strong>Studies</strong></td><td>
    <%= @datum.studies %>
  </td> </tr>

  <tr><td> 
    <strong>University</strong></td><td>
    <%= @datum.university %>
  </td> </tr>

  <tr><td> 
    <strong>Profession</strong></td><td>
    <%= @datum.profession %>
  </td> </tr>

  <tr><td> 
    <strong>Cvlink</strong></td><td>
    <%= @datum.cvLink %>
  </td> </tr>

  <tr><td> 
    <strong>Declarationlink</strong></td><td>
    <%= @datum.declarationLink %>
  </td> </tr>

  <tr><td> 
    <strong>Officialwebsite</strong></td><td>
    <%= @datum.officialWebsite %>
  </td> </tr>

  <tr><td> 
    <strong>Political Experience</strong></td><td>
    <%= @datum.politicalExperience %>
  </td> </tr>

  <tr><td> 
    <strong>Causes</strong></td><td>
    <%= @datum.causes %>
  </td> </tr>

  </table>

</div>  

<br/>

<hr/>

<%= link_to '< Back', show_path(:region => @datum.region), class: "btn btn-primary btn-md" %>
<%= link_to 'Edit', edit_datum_path(@datum), class: "btn btn-success btn-md" %> 

<br/><br/>

