<p id="notice"><%= notice %></p>

<p>
  <strong>Sourcewebsite:</strong>
  <%= @datum.sourceWebsite %>
</p>

<p>
  <strong>Name:</strong>
  <%= @datum.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @datum.picture %>
</p>

<p>
  <strong>Politicalparty:</strong>
  <%= @datum.politicalParty %>
</p>

<p>
  <strong>Politicalpartyimage:</strong>
  <%= @datum.politicalPartyImage %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @datum.verified %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @datum.likes %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @datum.followers %>
</p>

<p>
  <strong>Email:</strong>
  <%= @datum.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @datum.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @datum.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @datum.linkedin %>
</p>

<p>
  <strong>Googleplus:</strong>
  <%= @datum.googlePlus %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @datum.instagram %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @datum.blog %>
</p>

<p>
  <strong>Youtubechannel:</strong>
  <%= @datum.youtubeChannel %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @datum.premium %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @datum.bio %>
</p>

<p>
  <strong>Quote1:</strong>
  <%= @datum.quote1 %>
</p>

<p>
  <strong>Quote2:</strong>
  <%= @datum.quote2 %>
</p>

<p>
  <strong>Sourceactivity:</strong>
  <%= @datum.sourceActivity %>
</p>

<p>
  <strong>Lastactivity1:</strong>
  <%= @datum.lastActivity1 %>
</p>

<p>
  <strong>Lastactivity2:</strong>
  <%= @datum.lastActivity2 %>
</p>

<p>
  <strong>Lastactivity3:</strong>
  <%= @datum.lastActivity3 %>
</p>

<p>
  <strong>Lastactivity4:</strong>
  <%= @datum.lastActivity4 %>
</p>

<p>
  <strong>Ideology1:</strong>
  <%= @datum.ideology1 %>
</p>

<p>
  <strong>Ideology2:</strong>
  <%= @datum.ideology2 %>
</p>

<p>
  <strong>Ideology3:</strong>
  <%= @datum.ideology3 %>
</p>

<p>
  <strong>Ideology4:</strong>
  <%= @datum.ideology4 %>
</p>

<p>
  <strong>Ideology5:</strong>
  <%= @datum.ideology5 %>
</p>

<p>
  <strong>Following:</strong>
  <%= @datum.following %>
</p>

<p>
  <strong>Openprojects:</strong>
  <%= @datum.openProjects %>
</p>

<p>
  <strong>Closedprojects:</strong>
  <%= @datum.closedProjects %>
</p>

<p>
  <strong>Proposals:</strong>
  <%= @datum.proposals %>
</p>

<p>
  <strong>Debates:</strong>
  <%= @datum.debates %>
</p>

<p>
  <strong>Sponsorships:</strong>
  <%= @datum.sponsorships %>
</p>

<p>
  <strong>Victories:</strong>
  <%= @datum.victories %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @datum.dateOfBirth %>
</p>

<p>
  <strong>Placeofbirth:</strong>
  <%= @datum.placeOfBirth %>
</p>

<p>
  <strong>Institutionaladdress:</strong>
  <%= @datum.institutionalAddress %>
</p>

<p>
  <strong>Institutionaltelephone:</strong>
  <%= @datum.institutionalTelephone %>
</p>

<p>
  <strong>Institutionalfax:</strong>
  <%= @datum.institutionalFax %>
</p>

<p>
  <strong>Institutionalmobilephone:</strong>
  <%= @datum.institutionalMobilePhone %>
</p>

<p>
  <strong>Electoraladdress:</strong>
  <%= @datum.electoralAddress %>
</p>

<p>
  <strong>Electoraltelephone:</strong>
  <%= @datum.electoralTelephone %>
</p>

<p>
  <strong>Electoralfax:</strong>
  <%= @datum.electoralFax %>
</p>

<p>
  <strong>Electoralmobile:</strong>
  <%= @datum.electoralMobile %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @datum.phone %>
</p>

<p>
  <strong>Assistants:</strong>
  <%= @datum.assistants %>
</p>

<p>
  <strong>Completename:</strong>
  <%= @datum.completeName %>
</p>

<p>
  <strong>Position:</strong>
  <%= @datum.position %>
</p>

<p>
  <strong>Region:</strong>
  <%= @region_name %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @datum.institution %>
</p>

<p>
  <strong>Constituency:</strong>
  <%= @datum.constituency %>
</p>

<p>
  <strong>Studies:</strong>
  <%= @datum.studies %>
</p>

<p>
  <strong>University:</strong>
  <%= @datum.university %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @datum.profession %>
</p>

<p>
  <strong>Cvlink:</strong>
  <%= @datum.cvLink %>
</p>

<p>
  <strong>Declarationlink:</strong>
  <%= @datum.declarationLink %>
</p>

<p>
  <strong>Officialwebsite:</strong>
  <%= @datum.officialWebsite %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
