
<h1><span class="glyphicon glyphicon-user"></span> POLITICIAN DETAILS</h1>
<h5>POLITICIAN: <span style="color:#95A5A6"><%= @datum.name %></span></h5>

<hr/>

<br/>

<div class="table-div">
  <table class="listing table table-striped">
  <thead>
      <tr class="header">
        <th colspan="2"><span class="glyphicon glyphicon-info-sign"></span> PERSONAL INFO</th>
      </tr>
  </thead>  

  <tr><td> 
    <strong>Name</strong></td><td>
    <%= @datum.name %>
  </td> </tr>

  <tr><td> 
    <strong>Complete name</strong></td><td>
    <%= @datum.completeName %>
  </td> </tr>

  <tr><td> 
    <strong>Bio</strong></td><td>
    <%= @datum.bio %>
  </td> </tr>

  <tr><td> 
    <strong>Family</strong></td><td>
    <%= @datum.family %>
  </td> </tr>

  <tr><td> 
    <strong>Date of birth</strong></td><td>
    <%= @datum.dateOfBirth %>
  </td> </tr>

  <tr><td> 
    <strong>Place of birth</strong></td><td>
    <%= @datum.placeOfBirth %>
  </td> </tr>

  <tr><td> 
    <strong>Picture</strong></td><td>
    <%= @datum.picture %>
  </td> </tr>

  <tr><td> 
    <strong>Email</strong></td><td>
    <%= @datum.email %>
  </td> </tr>

   <tr><td> 
    <strong>Studies</strong></td><td>
    <%= @datum.studies %>
  </td> </tr>

  <tr><td> 
    <strong>University</strong></td><td>
    <%= @datum.university %>
  </td> </tr>

  <tr><td> 
    <strong>School</strong></td><td>
    <%= @datum.school %>
  </td> </tr>

  <tr><td> 
    <strong>Profession</strong></td><td>
    <%= @datum.profession %>
  </td> </tr>

  <tr><td> 
    <strong>Position</strong></td><td>
    <%= @datum.position %>
  </td> </tr>

  <tr><td> 
    <strong>Institution</strong></td><td>
    <%= @datum.institution %>
  </td> </tr>

   <tr><td> 
    <strong>Cv link</strong></td><td>
    <%= @datum.cvLink %>
  </td> </tr>

  <tr><td> 
    <strong>Declaration link</strong></td><td>
    <%= @datum.declarationLink %>
  </td> </tr>

  <tr><td> 
    <strong>Quote 1</strong></td><td>
    <%= @datum.quote1 %>
  </td> </tr>

  <tr><td> 
    <strong>Quote 2</strong></td><td>
    <%= @datum.quote2 %>
  </td> </tr>

  </table>
</div>
 
<br/><br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="2"><span class="glyphicon glyphicon-thumbs-up"></span> SOCIAL NETWORKS</th>
    </tr>
  </thead> 
  
  <tr><td> 
    <strong>Twitter</strong></td><td>
    <%= @datum.twitter %>
  </td> </tr>

  <tr><td> 
    <strong>Facebook</strong></td><td>
    <%= @datum.facebook %>
  </td> </tr>

  <tr><td> 
    <strong>Linkedin</strong></td><td>
    <%= @datum.linkedin %>
  </td> </tr>

  <tr><td> 
    <strong>Google plus</strong></td><td>
    <%= @datum.googlePlus %>
  </td> </tr>

  <tr><td> 
    <strong>Instagram</strong></td><td>
    <%= @datum.instagram %>
  </td> </tr>

  <tr><td> 
    <strong>Pinterest</strong></td><td>
    <%= @datum.pinterest %>
  </td> </tr>

  <tr><td> 
    <strong>Blog</strong></td><td>
    <%= @datum.blog %>
  </td> </tr>

  <tr><td> 
    <strong>Youtube channel</strong></td><td>
    <%= @datum.youtubeChannel %>
  </td> </tr>

  </table>
</div>    

<br/><br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="2"><span class="glyphicon glyphicon-signal"></span> STATS</th>
    </tr>
  </thead> 

  <tr><td> 
    <strong>Likes</strong></td><td>
    <%= @datum.likes %>
  </td> </tr>

  <tr><td> 
    <strong>Followers</strong></td><td>
    <%= @datum.followers %>
  </td> </tr>

  <tr><td> 
    <strong>Verified</strong></td><td>
    <%= @datum.verified %>
  </td> </tr>
  
  <tr><td> 
    <strong>Premium</strong></td><td>
    <%= @datum.premium %>
  </td> </tr>

  <tr><td> 
    <strong>Following</strong></td><td>
    <%= @datum.following %>
  </td> </tr>

  <tr><td> 
    <strong>Open projects</strong></td><td>
    <%= @datum.openProjects %>
  </td> </tr>

  <tr><td> 
    <strong>Closed projects</strong></td><td>
    <%= @datum.closedProjects %>
  </td> </tr>

  <tr><td> 
    <strong>Proposals</strong></td><td>
    <%= @datum.proposals %>
  </td> </tr>

  <tr><td> 
    <strong>Debates</strong></td><td>
    <%= @datum.debates %>
  </td> </tr>

  <tr><td> 
    <strong>Sponsorships</strong></td><td>
    <%= @datum.sponsorships %>
  </td> </tr>

  <tr><td> 
    <strong>Victories</strong></td><td>
    <%= @datum.victories %>
  </td> </tr>

  </table>
</div>  

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="2"><span class="glyphicon glyphicon-earphone"></span> POLITICAL CONTACT</th>
    </tr>
  </thead> 

 <tr><td> 
    <strong>Institutional address</strong></td><td>
    <%= @datum.institutionalAddress %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional telephone</strong></td><td>
    <%= @datum.institutionalTelephone %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional fax</strong></td><td>
    <%= @datum.institutionalFax %>
  </td> </tr>

  <tr><td> 
    <strong>Institutional mobilephone</strong></td><td>
    <%= @datum.institutionalMobilePhone %>
  </td> </tr>

  <tr><td> 
    <strong>Electoral address</strong></td><td>
    <%= @datum.electoralAddress %>
  </td> </tr>

  <tr><td> 
    <strong>Electoral telephone</strong></td><td>
    <%= @datum.electoralTelephone %>
  </td> </tr>

  <tr><td> 
    <strong>Electoral fax</strong></td><td>
    <%= @datum.electoralFax %>
  </td> </tr>

  <tr><td> 
    <strong>Electoral mobile</strong></td><td>
    <%= @datum.electoralMobile %>
  </td> </tr>

  <tr><td> 
    <strong>Phone</strong></td><td>
    <%= @datum.phone %>
  </td> </tr>

  <tr><td> 
    <strong>Assistants</strong></td><td>
    <%= @datum.assistants %>
  </td> </tr>

  </table>
</div>  

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="2"><span class="glyphicon glyphicon-king"></span> POLITICAL PARTY</th>
    </tr>
  </thead> 

  <tr><td> 
    <strong>Political party</strong></td><td>
    <%= @datum.politicalParty %>
  </td> </tr>

  <%
    party_image = ""  
    ideology1 = 0.0
    ideology2 = 0.0
    ideology3 = 0.0
    ideology4 = 0.0
    ideology5 = 0.0

    political_party = PoliticalParty.where("name LIKE ?",  '%'+@datum.politicalParty+'%')
    political_party.each do |pp|
      party_image = pp.image
      ideology1 = pp.leaning_index
      ideology2 = pp.leaning_index
      ideology3 = pp.leaning_index
      ideology4 = pp.leaning_index
      ideology5 = pp.leaning_index
    end  
  %>

  <tr><td> 
    <strong>Political party image</strong></td><td>
    <%= party_image %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 1</strong></td><td>
    <%= @datum.ideology1 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 2</strong></td><td>
    <%= @datum.ideology2 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 3</strong></td><td>
    <%= @datum.ideology3 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 4</strong></td><td>
    <%= @datum.ideology4 %>
  </td> </tr>

  <tr><td> 
    <strong>Ideology 5</strong></td><td>
    <%= @datum.ideology5 %>
  </td> </tr>

  </table>
 </div> 

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="4"><span class="glyphicon glyphicon-king"></span> POLITICAL EXPERIENCE</th>
    </tr>
  </thead> 

  <tr>
    <td></td>
    <td><b>Experience</b></td>
    <td><b>Content</b></td>
    <td><b>Date</b></td>
  </tr>

  <tr>
    <td><strong>Political Experience 1</strong></td> 
    <td><%= @datum.political_experience1 %></td>
    <td><%= @datum.political_experience1_content %></td> 
    <td><%= @datum.political_experience1_date %></td>
  </tr>

  <tr>
    <td><strong>Political Experience 2</strong></td> 
    <td><%= @datum.political_experience2 %></td>
    <td><%= @datum.political_experience2_content %></td> 
    <td><%= @datum.political_experience2_date %></td>
  </tr>

  <tr>
    <td><strong>Political Experience 3</strong></td> 
    <td><%= @datum.political_experience3 %></td>
    <td><%= @datum.political_experience3_content %></td> 
    <td><%= @datum.political_experience3_date %></td>
  </tr>

  <tr>
    <td><strong>Political Experience 4</strong></td> 
    <td><%= @datum.political_experience4 %></td>
    <td><%= @datum.political_experience4_content %></td> 
    <td><%= @datum.political_experience4_date %></td>
  </tr>

  <tr>
    <td><strong>Political Experience 5</strong></td> 
    <td><%= @datum.political_experience5 %></td>
    <td><%= @datum.political_experience5_content %></td> 
    <td><%= @datum.political_experience5_date %></td>
  </tr>


  </table>
</div>

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="6"><span class="glyphicon glyphicon-equalizer"></span> POLITICAL ACTIVITIES</th>
    </tr>
  </thead> 

   <tr>
    <td> <strong>Source activity</strong></td>
    <td colspan="5"> 
      <%= @datum.sourceActivity %>
    </td> 
   </tr>

   <tr>
     <td></td>
     <td><b>Activity</b></td>
     <td><b>Date</b></td>
     <td><b>Action</b></td>
     <td><b>Outcome</b></td>
     <td><b>Link</b></td>
   </tr>

   <tr>
    <td><b>1</b></td>
    <td><%= @datum.lastActivity1 %></td>
    <td><%= @datum.lastActivity1Date %></td>
    <td><%= @datum.lastActivity1Action %></td>
    <td><%= @datum.lastActivity1Outcome %></td>
    <td><%= @datum.lastActivity1Link %></td>
   </tr>

  <tr>
    <td><b>2</b></td>
    <td><%= @datum.lastActivity2 %></td>
    <td><%= @datum.lastActivity2Date %></td>
    <td><%= @datum.lastActivity2Action %></td>
    <td><%= @datum.lastActivity2Outcome %></td>
    <td><%= @datum.lastActivity2Link %></td>
   </tr>

   <tr>
    <td><b>3</b></td>
    <td><%= @datum.lastActivity3 %></td>
    <td><%= @datum.lastActivity3Date %></td>
    <td><%= @datum.lastActivity3Action %></td>
    <td><%= @datum.lastActivity3Outcome %></td>
    <td><%= @datum.lastActivity3Link %></td>
   </tr>

   <tr>
    <td><b>4</b></td>
    <td><%= @datum.lastActivity4 %></td>
    <td><%= @datum.lastActivity4Date %></td>
    <td><%= @datum.lastActivity4Action %></td>
    <td><%= @datum.lastActivity4Outcome %></td>
    <td><%= @datum.lastActivity4Link %></td>
   </tr>

  <tr>
    <td><b>5</b></td>
    <td><%= @datum.lastActivity5 %></td>
    <td><%= @datum.lastActivity5Date %></td>
    <td><%= @datum.lastActivity5Action %></td>
    <td><%= @datum.lastActivity5Outcome %></td>
    <td><%= @datum.lastActivity5Link %></td>
   </tr>

  </table>
</div>  

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="6"><span class="glyphicon glyphicon-screenshot"></span> CAUSES</th>
    </tr>
  </thead> 


  <tr><td> 
    <strong>Cause 1</strong></td><td>
    <%= @datum.cause1 %>
  </td> </tr>

  <tr><td> 
    <strong>Cause 2</strong></td><td>
    <%= @datum.cause2 %>
  </td> </tr>

  <tr><td> 
    <strong>Cause 3</strong></td><td>
    <%= @datum.cause3 %>
  </td> </tr>

  <tr><td> 
    <strong>Cause 4</strong></td><td>
    <%= @datum.cause4 %>
  </td> </tr>

  <tr><td> 
    <strong>Cause 5</strong></td><td>
    <%= @datum.cause5 %>
  </td> </tr>

  </table>

</div>

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="6"><span class="glyphicon glyphicon-eye-open"></span> KNOWN FOR</th>
    </tr>
  </thead> 
 
   <tr><td> 
    <strong>Known for 1</strong></td><td>
    <%= @datum.known_for1 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for link 1</strong></td><td>
    <%= @datum.known_for_link1 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 2</strong></td><td>
    <%= @datum.known_for2 %>
  </td> </tr>

   <tr><td> 
    <strong>Known for link 2</strong></td><td>
    <%= @datum.known_for_link2 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 3</strong></td><td>
    <%= @datum.known_for3 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for link 3</strong></td><td>
    <%= @datum.known_for_link3 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 4</strong></td><td>
    <%= @datum.known_for4 %>
  </td> </tr>

   <tr><td> 
    <strong>Known for link 4</strong></td><td>
    <%= @datum.known_for_link4 %>
  </td> </tr>

  <tr><td> 
    <strong>Known for 5</strong></td><td>
    <%= @datum.known_for5 %>
  </td> </tr>

   <tr><td> 
    <strong>Known for link 5</strong></td><td>
    <%= @datum.known_for_link5 %>
  </td> </tr> 
 </table>
</div> 

<br/>
<br/>

<div class="table-div">
  <table class="listing table table-striped">

  <thead>
    <tr class="header">
      <th colspan="6"><span class="glyphicon glyphicon-globe"></span> GEOGRAPHICAL AREAS</th>
    </tr>
  </thead> 

  <tr><td> 
    <strong>Region</strong></td><td>
    <%= @region_name %>
  </td> </tr>

<tr><td> 
    <strong>Region Alliance</strong></td><td>
    <%= @datum.region_code_alliance %>
  </td> </tr>

  <tr><td> 
    <strong>Region Nation</strong></td><td>
    <%= @datum.region_code_nation %>
  </td> </tr>

  <tr><td> 
    <strong>Region State</strong></td><td>
    <%= @datum.region_code_state %>
  </td> </tr>

  <tr><td> 
    <strong>Region County</strong></td><td>
    <%= @datum.region_code_county %>
  </td> </tr>

  <tr><td> 
    <strong>Region City</strong></td><td>
    <%= @datum.region_code_city %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency</strong></td><td>
    <%= @datum.constituency %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency Alliance</strong></td><td>
    <%= @datum.region_code_alliance %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency Nation</strong></td><td>
    <%= @datum.constituency_code_nation %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency State</strong></td><td>
    <%= @datum.constituency_code_state %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency County</strong></td><td>
    <%= @datum.constituency_code_county %>
  </td> </tr>

  <tr><td> 
    <strong>Constituency City</strong></td><td>
    <%= @datum.constituency_code_city %>
  </td> </tr>

  </table>
</div>  

<br/>

<hr/>

<div class="table-div">
  <table class="listing table table-striped">

    <tr><td> 
      <strong>Officialwebsite</strong></td><td>
      <%= @datum.officialWebsite %>
    </td> </tr>

    <tr><td> 
      <strong>Source website</strong></td><td>
      <%= @datum.sourceWebsite %>
    </td> </tr>

  </table>

</div> 
  
<br/>
<hr/>

<!--
<%= link_to '< Back', page_politicians_path(:region => @datum.region), class: "btn btn-primary btn-md" %>
-->
<%= link_to '< Back', url_for(:back), class: "btn btn-primary btn-md" %>
<%= link_to 'Edit', edit_datum_path(@datum), class: "btn btn-success btn-md" %> 

<br/><br/>

