<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10">
    <h1><span class="glyphicon glyphicon-globe"></span> Geographical Areas</h1>
  </div>
  <div class="col-md-2">
    <%= link_to '+ New Alliance', new_region_path, :class => "btn btn-md btn-success", :style => "margin:20px 0 0 0;"  %>
  </div>
</div>

<hr/>

<br/>


<% if params[:all] == "true" %>

  <table>
    <thead>
      <tr>
        <th>Iso3166 2</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @regions.each do |region| %>
        <tr>
          <td><%= region.iso3166_2 %></td>
          <td><%= region.name %></td>
          <td><%= link_to 'Show', region %></td>
          <td><%= link_to 'Edit', edit_region_path(region) %></td>
          <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <!-- Alliance -->
  <ul class="geo-area-list">
    <%  
      alliances = Region.order(:iso3166_2).where("length(iso3166_2) = ?",  2)
      alliances.each do |alliance|
    %>
    <li> 
      <h2>
        <%= link_to "#{alliance.name.titleize }", page_alliance_path(:alliance_id => alliance.id) %>
      </h2> 
    </li>  
    <% end %>
  </ul> 

<% end %>

<br>

