<!DOCTYPE html>
<html>
<head>
  <title>Kuorum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/navbar' %>

<div id="main_content" class="container">
	<div id="content" class="col-md-12 center-block">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

		<%= yield %>
		
	</div>
</div>

<br/>

<div class="container">
	<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-md-12">
            	<p><b>&copy; <%= Time.now.year %> IPDB </b></p>
            </div>
        </div>
    </footer> 
  </div>

</body>
</html>
